<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss('close')">&times;</button>
    <div class="row m-t-sm">
        <div class="col-sm-10 m-b-xs">
            <h4 class="modal-title">Aviso de Privacidad</h4>
        </div>
    </div>
</div>
<div class="modal-body" >
    <p align="justify">
        <strong>2HSoftware S.A. de C.V. ©</strong> es responsable de recabar sus datos personales,
        del uso que se le dé a los mismos y de su protección.
    </p>
    <br>
    <p align="justify">
        Su información personal será utilizada para fines estadísticos, encuestas de servicio,
        atendera a solicitudes de cotizaciones, programas de conocimiento sobre la Ley de
        Protección a los Sistemas Informáticos, estudios de mercado o según sea ordenado o instruido por Tribunales
        u otras agencias gubernamentales. Para las finalidades antes mencionadas, requerimos
        obtener los siguientes datos personales sensibles: datos de identificación
        (nombre, teléfono y correo electrónico).
    </p>
    <br>
    <p align="justify">
        Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así
        como de oponerse al tratamiento de los mismos o revocar el consentimiento que para
        tal fin nos haya otorgado, a través de los procedimientos que hemos implementado.
        Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto
        con nosotros en la direccion de correo electrónico info@2hsoftware.com.mx
        o visitar nuestra página de Internet
        <a href="http://www.2hsoftware.com.mx" target="_blank" style="color: #000000; font-weight: bold;">
            <strong>2HSoftware.com.mx</strong>
        </a>
    </p>
    <br>
    <p align="justify">
        Asimismo, le informamos que sus datos personales pueden ser transferidos y tratados
        por personas distintas a esta empresa. En ese sentido, su información puede ser
        compartida con terceros que actúen en nombre de <strong>2HSoftware S.A. de C.V.©</strong>
        o cualquiera de sus filiales nacionales, para procesarlos de acuerdo con el/los
        objetivo(s) para los cuales fueron originariamente recopilados o procesarse para
        cualquier otro objetivo autorizado por la Ley. Estos terceros se comprometen a utilizar
        su información personal y/o personal sensible solamente para el cumplimiento de
        los objetivos acordados así como a no vender o revelar su información personal y/o
        personal sensible a terceros, excepto en aquellos casos autorizados por la Ley,
        con previa autorización de <strong>2HSoftware©</strong>. Si usted no manifiesta
        su oposición, por medio de un correo electrónico o comunicación a las direcciones
        antes mencionadas, para que sus datos personales sean transferidos, se entenderá
        que ha otorgado su consentimiento para ello.
    </p>
    <br>
    <p align="justify">
        Cualquier modificación a este aviso de privacidad podrá consultarla en nuestra página
        de Internet <a href="http://www.2hsoftware.com.mx" target="_blank" style="color: #000000; font-weight: bold;"><strong>2hsoftware.com.mx</strong></a>
        <br>
        <br>
        Fecha última actualización: Agosto 2014
    </p>
    <p>&nbsp;</p>
</div>
<div class="modal-footer">
    <button id="btnCerrarTerminos" type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss('close')">Cerrar</button>
</div>