<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss('close')">&times;</button>
    <div class="row m-t-sm">
        <div class="col-sm-10 m-b-xs">
            <h4 class="modal-title">T&eacute;rminos de Uso y Aviso Legal</h4>
        </div>
    </div>
</div>
<div class="modal-body">

    <p align="justify">
        El acceso al presente sitio Web, en lo sucesivo el "Sitio" y el uso del mismo se encuentra sujeto a los términos y
        condiciones que se establecen a continuación y a la normatividad vigente. Al acceder al Sitio y explorar el contenido del mismo,
        Usted acepta, sin reserva ni limitación alguna, los presentes términos y condiciones. También es aplicable al Sitio,
        las disposiciones incluidas en el Aviso de Privacidad.<br /><br />
    </p>

    <h4>Datos Personales</h4>
    <p align="justify">
        2H Software SA de CV en lo sucesivo "2H" respetan la privacidad de los visitantes a su Sitio.  El Sitio puede ser navegados libremente, una vez contando con usuario y contraseña,
        sin embargo, en algunas ocasiones ciertas aplicaciones podrán requerir que se proporcionen datos personales  como puede ser su nombre, domicilio, número telefónico,
        correo electrónico o información sobre sus empresa.  Los datos personales serán tratados de acuerdo al
        Aviso de Privacidad disponible este el Sitio.<br /><br />
    </p>

    <h4>Weblogs, Cookies, Direcciónes IP y Web Beacon</h4>
    <p align="justify">
        Otra información que puede ser recolectada incluye su dirección IP e información que pueda ser recolectada mediante weblogs y cookies
        los que se identificarán más adelante.<br />

        Este Sitio podrá utilizar tecnología conocida como web beacons, algunas veces denominados como single-pixel gifs, que permiten a este Sitio recolectar información del tipo Weblog. <br />

        Un web beacon es un gráfico en un sitio web o en un correo electrónico que se encuentra diseñado para rastrear las páginas
        vistas o mensajes abiertos por usted. La información weblog es recolectada por la computadora que hospeda nuestros sitios web ("servidor") y
        por usted proporcionada cuando visita alguno de nuestros sitios. El servidor automáticamente reconoce información no personal,
        como la fecha y el tiempo que usted visito el Sitio, las páginas que usted visitó anteriormente, el sitio web del que usted navega,
        el tipo de navegador que usted utiliza (Por ejemplo Internet Explorer), el tipo de sistema operativo que utiliza (Ej. Windows 2000), y
        el nombre de dominio y dirección de su proveedor de servicios de Internet.<br />

        El Sitio puede utilizar tecnología denominada "cookie". Una cookie es una pieza de información que nuestro servidor envía a
        su computadora (de hecho a la carpeta de archivos de su navegador) cuando usted ingresa al Sitio. En el momento en que usted regrese al Sitio,
        nuestro sitio detectará automáticamente que usted tiene una de nuestras cookies en su sistema. Nuestras cookies ayudan a proporcionar
        funcionalidad adicional al sitio y auxilia a medir la utilización del sitio de forma más precisa e identificar sus datos de usuario para presentar la
        información correspondiente a su cuenta de usurios. <br />

        El Sitio utiliza direcciones IP por sus siglas en inglés (Internet Protocol). Una dirección IP es un número asignado a su
        computadora por su proveedor de servicios de Internet para que pueda navegar por la red. Generalmente, una dirección IP cambia cada vez que
        usted se conecta a Internet, es una dirección "dinámica" (Nota. En caso que usted cuente con una conexión de banda ancha, es
        posible que su dirección IP sea estática y pueda ser asociada con su computadora). Por lo que su dirección IP podrá
        proporcionar información que será utilizada para mejorar nuestro Sitio. <br />

        Las áreas de este sitio web que recolectan información, utilizan estándares industriales de seguridad (Industry Standard Secure Socket Layer Encryption)
        SSL por sus siglas en inglés, sin embargo, para poder aprovechar esta ventaja su navegador deberá soportar protección e
        encriptación de datos (El cual se encuentra en Internet Explorer 3.0 y superiores). <br /><br />
    </p>

    <h4>Información Contenida en el Sitio</h4>
    <p align="justify">
        El Sitio contiene información de Productos 2H, afiliadas y/o pertenecientes al mismo grupo económico  y aunque 2H se
        esfuerza en lo razonable por incluir en el Sitio información precisa y actualizada,
        2H no ofrece garantía alguna respecto a su contenido, el cual se presenta "tal cual". 2H no se responsabiliza de ninguna contingencia
        relacionada con el uso del Sitio o de su contenido. Concretamente, 2H no se responsabiliza de la precisión, integridad, suficiencia,
        actualidad, oportunidad o el carácter exhaustivo de la información contenida en el Sitio, la cual podrá variar de tiempo
        en tiempo o ser modificada por 2H en cualquier momento, sin responsabilidad alguna y sin necesidad de dar aviso previo.<br />

        Los sitios de Internet de 2H pueden contener información referente a los productos y servicios que 2H ofrece a nivel mundial. Algunos de dichos productos y
        servicios pueden no estar disponibles en algunos países. La referencia a cualquier producto o servicio de 2H en un sitio de Internet de 2H,
        no necesariamente implica que dicho producto o servicio esté disponible en su localidad.<br /><br />
    </p>

    <h4>Uso de la Información</h4>
    <p align="justify">
        2H no se hace responsable en forma alguna de las decisiones o acciones tomadas en base al contenido de la información incluida en el Sitio, y la misma no se
        puede tomar en forma alguna como consejo final o específico, ya que las condiciones particulares al caso al que pretenda ser aplicada pueden cambiar o ser diferentes.
        Todo uso y/o aplicación de la información contenida en el Sitio será de la exclusiva responsabilidad de quien aplique dicha información.<br />

        2H no tendrá ninguna responsabilidad por daños y perjuicios directos, indirectos, previsibles, imprevisibles, incidentales, consecuentes o punitivos como consecuencia
        del acceso, uso o incapacidad de utilizar este sitio; o por cualquier error u omisión en la información disponible en este sitio.<br /><br />
    </p>

    <h4>Comunicación por parte de y con los Usuarios del Sitio</h4>
    <p align="justify">
        Cualquier comunicación o material (salvo datos personales) que Usted transmita al Sitio, mediante el correo electrónico o por cualquier
        otro medio, incluyendo cualesquiera datos, preguntas, comentarios, sugerencias o similares transmitidos, tendrá carácter no confidencial
        y será de propiedad no exclusiva, y recibirá el tratamiento correspondiente a dicha naturaleza. Cualesquiera datos que Usted transmita
        o coloque se convertirán en propiedad de 2H y podrán utilizarse para cualquier propósito, incluyendo, entre otros, la
        reproducción, divulgación, transmisión, publicación o emisión de los mismos. Además, 2H podrá
        utilizar libremente cualquier idea, concepto, conocimiento o técnica incluida en cualquier comunicación enviada por Usted al
        presente Sitio, para cualquier propósito, incluyendo, entre otros, el desarrollo, fabricación y comercialización de productos
        basados en tal información, sin responsabilidad alguna para 2H.<br />

        Aunque 2H podrá ocasionalmente estudiar o seguir la marcha de los debates, charlas, transmisiones, tablones de anuncios, tablones de
        noticias y otros elementos del presente Sitio, 2H no tiene la obligación de efectuar dicho estudio o seguimiento y no se responsabiliza
        del contenido de tales elementos, ni de ningún error, difamación, calumnia, injuria, omisión, falsedad, obscenidad,
        pornografía, blasfemia o imprecisión en la información contenida en dichos elementos del presente Sitio.
        Se prohíbe la colocación o la transmisión de toda materia ilícita, amenazadora, calumniosa,
        difamatoria, obscena, escandalosa, pornográfica o blasfema, o cualquier materia que pudiera constituir o inducir
        a conductas que podrían tipificarse como delito, ocasionar responsabilidad civil, o vulnerar de otra forma cualquier normatividad.
        2H colaborará plenamente con cualquier autoridad encargada de hacer cumplir la ley o cualquier requerimiento judicial que inste a
        2H a revelar la identidad de cualquier persona que coloque tal información o material.<br /><br />
    </p>

    <h4>Derechos de Propiedad Intelectual e Industrial</h4>
    <p align="justify">
        Toda la información, materiales, marcas, diseños, logotipos, archivos y/o datos implícitos contenidos o referidos
        en este Sitio son propiedad o se encuentran bajo licencia exclusiva para su uso por parte de sus respectivos titulares, y de ninguna manera
        podrán ser utilizados en cualquier forma, incluyendo la posibilidad de redistribuir, vender, reproducir, modificar, explotar o usar,
        para cualquier propósito diferente al del objetivo informativo de éste Sitio.<br />

        Del mismo modo, todos los nombres, denominaciones y diseños que se encuentren con la leyenda Marca Registrada, las siglas MR o la R encerrada
        por un circulo, incluyendo cualquier y toda patente y derechos de propiedad industrial en general relativos a 2H, que aparecen en
        cualquier sección del Sitio, constituyen derechos protegidos por las leyes de propiedad industrial, incluyendo los nombres
        comerciales y avisos comerciales, siendo que el presente Sitio no otorga derecho o licencia alguna para su utilización o
        explotación por cualquier persona y/o para cualquier propósito.<br /><br />
    </p>

    <h4>Links con Sitios que Pertenecen o Son Responsabilidad de Terceros.</h4>
    <p align="justify">
        Los servicios de información del Sitio pueden contener vínculos para que el usuario pueda salir de la sección visitada
        y acceder a otros sitios de Internet de interés que son controlados o que son propiedad de personas o empresas distintas a 2H,
        por lo que tales sitios no están bajo el control de 2H y, por tanto, 2H no es responsable del contenido y/o uso de cualquier otro
        sitio vinculado al Sitio. El hecho de que el usuario pueda hacer vínculo con otros sitios de interés o relacionados con el
        tema que está consultando, es únicamente para brindar un acceso más eficiente. 2H no se hace responsable por cualquier
        error, omisión, contenido o uso de los sitios o páginas que se encuentren ligados al Sitio, por lo que el usuario acepta
        que al ingresar a dichos sitios lo hace bajo su propia y exclusiva responsabilidad. Le sugerimos contacte directamente dichos sitios
        para obtener información sobre sus políticas de privacidad, de recolección y distribución de datos.<br /><br />
    </p>

    <h4>Daño a Equipo Informático</h4>
    <p align="justify">
        2H no se responsabiliza de ningún daño producido a su equipo informático u otros bienes de su propiedad, ni de
        ningún virus que pueda infectar los mismos, como consecuencia del acceso por parte de Usted al Sitio o de su uso o exploración
        del mismo, o del descargo por parte de Usted de cualquier material, datos, texto, imágenes o contenido audiovisual del presente Sitio.
        <br /><br />
    </p>

    <h4>Interrupción del Sitio</h4>
    <p align="justify"> 
        2H se reserva el derecho de interrumpir o suspender total o parcialmente la funcionalidad del Sitio. 2H no se responsabiliza de la eventual
        interrupción o suspensión del presente Sitio, sea como consecuencia de las actuaciones u omisiones de 2H, o las de cualquier tercero.<br /><br />
    </p>
 
    <h4>Vinculación del Sitio</h4>
    <p align="justify"> 
        Se prohíbe el enmarcado del Sitio con sitios o elementos de sitios ajenos al de 2H. Se prohíbe asimismo la vinculación en
        línea y la incorporación por cualquier otro medio de elementos del presente Sitio en los sitios pertenecientes a personas o entidades ajenas a 2H.<br /><br />
    </p>
        
    <h4>Modificaciones</h4>
    <p align="justify">
        2H se reserva el derecho de modificar en cualquier momento tanto el contenido del Sitio como los términos y condiciones
        aquí establecidas, sin necesidad de previo aviso. Dichas modificación son vinculantes para Usted. <br /><br />
    </p>

    <h4>Última fecha de actualización</h4>
    <p align="justify">
        Agosto 2014 
    </p>

    <p>&nbsp;</p>

</div>

<div class="modal-footer">
    <button id="btnCerrarTerminos" type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss('close')">Cerrar</button>
</div>