<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss('close')">&times;</button>
    <div class="row m-t-sm">
        <div class="col-sm-10 m-b-xs">
            <h4 class="modal-title">Privacy notice</h4>
        </div>
    </div>
</div>
<div class="modal-body">
    <p align="justify">
        <strong>2HSoftware S.A. de C.V. ©</strong> are responsible for collecting personal data,
        the use that is given to them and their protection.
    </p>
    <br />
    <p align="justify">
        <!--
            Su información personal será utilizada para fines estadísticos, encuestas de servicio,
        atendera a solicitudes de cotizaciones, programas de conocimiento sobre la Ley de
        Protección a los Sistemas Informáticos, estudios de mercado o según sea ordenado o instruido por Tribunales
        u otras agencias gubernamentales. Para las finalidades antes mencionadas, requerimos
        obtener los siguientes datos personales sensibles: datos de identificación
        (nombre, teléfono y correo electrónico).
        -->
        Your personal information will be used for statistical purposes service surveys, serve requests for quotations, awareness
        programs on the Act Protection of Computer Systems, market research or as ordered or instructed by Courts or other government
        agencies. For the purposes mentioned above , we require obtaining the following sensitive data : identification data (name, phone and email).
    </p>
    <br />
    <p align="justify">
        <!--
            Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así
        como de oponerse al tratamiento de los mismos o revocar el consentimiento que para
        tal fin nos haya otorgado, a través de los procedimientos que hemos implementado.
        Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto
        con nosotros en la direccion de correo electrónico info@2hsoftware.com.mx
        o visitar nuestra página de Internet
         -->
        You have the right to access, rectify and cancel your personal data, and to oppose the treatment or revoke consent for
        this purpose has given us through the procedures we have implemented. For these procedures, requirements and deadlines,
        you can contact us at the email address info@2hsoftware.com.mx or visit our website
        <a href="http://www.2hsoftware.com.mx" target="_blank" style="color: #000000; font-weight: bold;">
            <strong>2HSoftware.com.mx</strong>
        </a>
    </p>
    <br /><br />
    <p align="justify">
        <!--
        Asimismo, le informamos que sus datos personales pueden ser transferidos y tratados
        por personas distintas a esta empresa. En ese sentido, su información puede ser
        compartida con terceros que actúen en nombre de <strong>2HSoftware S.A. de C.V.©</strong>
        o cualquiera de sus filiales nacionales, para procesarlos de acuerdo con el/los
        objetivo(s) para los cuales fueron originariamente recopilados o procesarse para
        cualquier otro objetivo autorizado por la Ley. Estos terceros se comprometen a utilizar
        su información personal y/o personal sensible solamente para el cumplimiento de
        los objetivos acordados así como a no vender o revelar su información personal y/o
        personal sensible a terceros, excepto en aquellos casos autorizados por la Ley,
        con previa autorización de <strong>2HSoftware©</strong>. Si usted no manifiesta
        su oposición, por medio de un correo electrónico o comunicación a las direcciones
        antes mencionadas, para que sus datos personales sean transferidos, se entenderá
        que ha otorgado su consentimiento para ello.
        -->
        We also inform you that your personal data can be transferred and processed by persons other than the company.
        In that sense, your information may be shared with third parties acting on behalf of <strong>2HSoftware S.A. de C.V.©</strong>
        or any of its domestic subsidiaries, for processing in accordance with / the purpose(s) for which they were originally
        collected or processed for any other purpose authorized by law. These third parties will commit your personal information and/or
        personal sensitive only to fulfill agreed objectives and to not sell or disclose your personal and/or sensitive personal
        to third parties, except in cases authorized by law, with prior authorization of <strong>2HSoftware©</strong>.
        If you do not express opposition , through email or communication addresses above, for their personal data to be transferred
        shall mean which she has given its consent. 
    </p>
    <br /><br />
    <p align="justify">
        Any changes to this privacy notice will consult on our website
        <a href="http://www.2hsoftware.com.mx" target="_blank" style="color: #000000; font-weight: bold;"><strong>2hsoftware.com.mx</strong></a>
        <br /> <br />
        Last updated : August 2014
    </p>
    <p>&nbsp;</p>
</div>
<div class="modal-footer">
    <button id="btnCerrarTerminos" type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss('close')">Cerrar</button>
</div>