<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss('close')">&times;</button>
    <div class="row m-t-sm">
        <div class="col-sm-10 m-b-xs">
            <h4 class="modal-title">Terms of Use and Disclaimer</h4>
        </div>
    </div>
</div>

<div class="modal-body">
    <p align="justify"> 
        Access to this Web site, hereinafter the "Site" and the use thereof is subject to the terms and
        conditions set out below and to current regulations. By accessing the website and explore the contents thereof,
        You accept, without reservation or limitation, these terms and conditions. It also applies to the Site,
        the provisions contained in the Privacy Policy. <br /><br />
    </p>

    <h4>Personal Data</h4>
    <p align="justify">
        2H Software Inc. hereinafter "2H" respect the privacy of visitors to your site. The site can be browsed freely, once having username and password,
        however, sometimes some applications may require that personal data be provided such as your name, address, telephone number,
        email or information about your company. The personal data will be treated according to Privacy Notice available this Site .
        <br /><br />
    </p>

    <h4>Weblogs, Cookies, IP Addresses and Web Beacon</h4>
    <p align="justify">
        Other information that may be collected include your IP address and information that may be collected through weblogs and cookies
        those to be identified later. <br /> 

        A web beacon is a graphic on a website or in an email that is designed to track the pages
        views or open messages for you. Weblog information is collected by the computer that hosts our website ( "server") and
        provided by you when you visit one of our sites. The server automatically recognizes no personal information,
        the date and time you visited the site, the pages you visited, the website you browse,
        the type of browser you use (ex. Internet Explorer), the type of operating system you use (ex. Windows 2000), and
        the domain name and address of your Internet service provider. <br /> 

        The Site may use technology called "cookie". A cookie is a piece of information that our server sends to
        your computer (actually a file folder of your browser) when you enter the site. By the time you return to the Site,
        our site will automatically detect that you have one of our cookies on your system. Our cookies help provide
        additional functionality to the site and helps to measure site usage more precisely and identify their user data to file
        for your active account information.  <br />
         
        The site uses IP addresses for its acronym in English (Internet Protocol). An IP address is a number assigned to your
        computer by your Internet service provider so you can surf the net. Generally, an IP address changes each time
        you connect to the Internet, it is a "dynamic" address ( Note . If you count with a broadband connection, it is
        possible that your IP address is static and can be associated with your computer). So your IP address may
        provide information that will be used to improve our Site. <br />
        
        Areas of this website that collect information used security industry standards ( Industry Standard Encryption Secure Socket Layer )
        SSL for its acronym in English, however, to take advantage of this your browser must support encryption protection and data
        (which is on Internet Explorer 3.0 and higher). <br /><br />
    </p>

    <h4>Contained information on the Site</h4> 
    <p align="justify">
        The site contains information about products 2H, affiliates and/or belonging to the same economic group and although 2H is reasonable
        efforts to include accurate and current Site, 2H no warranties as to their content, which presents information "as it is".
        2H not responsible for any contingency related to the use of the Site or its contents.
        Specifically, 2H not responsible for the accuracy, completeness, adequacy, timeliness or completeness of the information contained in the Site,
        which may vary from time to time or by 2H be modified at any time without liability and without giving notice.<br />

        Internet sites 2H may contain information on products and services offered worldwide 2H . Certain products and services may not be available in some countries.
        Reference to any product or service in 2H 2H website does not necessarily imply that such product or service is available in your area.<br /><br />
    </p>

    <h4>Use of Information</h4> 
    <p align="justify">
        2H not responsible in any way the decisions or actions taken based on the content of the information included on the Site,
        and the same can not be taken in any way as a final or specific advice as special conditions to the case to purporting to be applied may change or be different.
        Any use and/or application of the information contained in the Site shall be the sole responsibility of those who apply this information.<br />

        2H shall have no liability for any direct, indirect, predictable, incidental, consequential or punitive damages as a result
        access, use or inability to use this site; or any errors or omissions in the information available on this site. <br /><br />
    </p>

    <h4>Communication by and with users Site</h4>
    <p align="justify">
        Any communication or material (excluding personal data) you transmit to the Site by electronic mail or by any
        otherwise, including any data, questions, comments, suggestions or the like transmitted, will not confidential
        and will be non-proprietary and will receive treatment corresponding to that nature. Any data you transmit
        or place will become the property of 2H and can be used for any purpose, including, inter alia,
        reproduction, disclosure, transmission, publication or issuance of the same. Furthermore, 2H may
        free to use any ideas, concepts, know- how or techniques contained in any communication sent by you to
        This Site, for any purpose, including, among others, development, manufacture and marketing of products
        based on such information, without any responsibility for 2H. <br />

        Although 2H will occasionally study or follow the progress of the discussions, chats, transmissions, bulletin boards,
        bulletin boards and other elements of this site, 2H is under no obligation to make such a study or monitoring and is not
        responsible for the content of such elements, or any error, defamation, libel, slander, omission, falsehood, obscenity, pornography,
        profanity or inaccuracies in information contained in the elements of this site. The placement or transmission of any unlawful,
        threatening, libelous matter is prohibited, defamatory, obscene, scandalous, pornographic or blasphemous material or any material
        that could constitute or encourage conduct that would be a criminal offense, give rise to civil liability or otherwise violate any regulations.
        2H fully cooperate with any authority responsible for enforcing the law or court order requesting to 2H to disclose the identity of anyone
        posting any such information or materials meet. <br /><br />
    </p>

    <h4>Intellectual and Industrial Property</h4>
    <p align="justify">
        All information, materials, trademarks, designs, logos, files and/or data contained or referred implicit
        on this Site are owned by or exclusively licensed for use by their respective owners, and in no way
        They may be used in any form, including the ability to redistribute, sell, reproduce, modify, exploit or use,
        for any informational purposes different from the purpose of this site. <br />

        Likewise, all names, designations and designs are the registered trademark legend, the initials MR or R enclosed by a circle,
        including any and all patent and industrial property rights in general relative to 2H, which appear in any section of the Site,
        are protected by the laws of industrial property rights, including trade names and commercial notices,
        being that this Site does not grant any license or right to use or exploitation by any person and/or for any purpose. <br /><br />
    </p>

    <h4>Links to sites owned or Third Party Liability.</h4>
    <p align="justify">
        Information services Site may contain links to enable the user to exit the section visited
        and access to other websites of interest that are controlled or owned by persons or companies other than 2H,
        therefore, these sites are not under the control of 2H and thus is not responsible 2H content and/or using any other
        site linked to the Site. The fact that the user can link to other sites of interest or related
        topic you are viewing is only to provide more efficient access. 2H not responsible for any
        error, omission, content or use of the sites or pages that are linked to the Site, so that the user accepts
        that by entering such sites is at your own sole responsibility. We suggest you contact those sites directly
        for information on their privacy policies, collection and distribution of data. <br /><br />
    </p>

    <h4>Damage to Computer Equipment</h4>
    <p align="justify">
        2H not responsible for any damage to your computer equipment or other property owned, or
        any viruses that may infect them, as a result of access by you to the Site or its use or exploration
        thereof, or downloaded by You of any material, data, text, images or audio from the Site.<br /><br />
    </p>

    <h4>Interruption of the site</h4>
    <p align="justify">
        2H reserves the right to terminate or suspend all or part of the functionality of the Site . 2H not responsible for the eventual
        interruption or suspension of this website, whether as a result of the actions or omissions of 2H, or any third party. <br /><br />
    </p>

    <h4>Linking Site</h4>
    <p align="justify">
        The framing of the Site for sites or elements of sites other than 2H is prohibited. Tying in it is also prohibited
        line and incorporation by any other means of elements of this Site in sites belonging to persons or entities outside 2H. <br /><br />
    </p>

    <h4>Modifications</h4> 
    <p align="justify">
        2H reserves the right to modify at any time both the content of the Site and the terms and conditions
        It established herein without notice. These amendments are binding on you. <br /><br />
    </p>

    <h4>Last update</h4>
    <p align="justify">
        August 2014
    </p>
    <p>&nbsp;</p>

</div>

<div class="modal-footer">
    <button id="btnCerrarTerminos" type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss('close')">Cerrar</button>
</div>