<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add  xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SR21VIBD01\SQLDESCS;initial catalog=StivXbrl;persist security info=True;user id=idstivxbrl;password=89wsa9e.34;multipleactiveresultsets=True;application name=EntityFramework&quot;"/>
  </connectionStrings>

  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ServerActiveDirectory" value="LDAP://sr11viad1.cnbyv.gob/DC=cnbyv,dc=gob"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="usuarioActiveDirectory" value=""/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="contraseniaActiveDirectory" value=""/>
  </appSettings>

  <appProperties>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="NPORT" value="25"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="S_USERNAME" value=""/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="S_PASSWORD" value=""/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="S_HOST" value="mail.cnbv.gob.mx"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="APLICA_SSL" value="false"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="S_APP_MAIL" value="procesos_apc@cnbv.gob.mx"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="IndicadorInicializarTaxonomias" value="false"/>

    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="tibcoServer" value="tcp://SR21VIHR03:10722"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="usuarioTibco" value="tibappxbrl"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="passwordTibco" value="t1bXBRL4Ppp"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="nombreProcesarXBRLQueue" value="CNBV.BURSATIL.STIV.PROCESARXBRL.QUEUE.V1_0"/>

    <!-- Informacion de la conexion de mongo para la CNBV-->
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="connectionStringMongoDB" value="mongodb://usr_RepositorioInformacion:4dm1n1str4t0r@172.16.235.123:27017/repositorioAbaxXbrl"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="baseDatosMongoDB" value="repositorioAbaxXbrl"/>

  </appProperties>

  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>