<section class="m-b-lg">
    <header class="wrapper text-center"></header>

    <form>
        <div class="list-group">
            <div class="list-group-item">

                <input type="password" name="passwordAnterior" placeholder="{{'PLACE_HOLDER_CONTRASEÑA_ANTERIOR' | translate}}" class="form-control no-border" ng-model="cambioPassword.PasswordActual">
            </div>
            <div class="list-group-item">

                <input type="password" name="passwordNuevo" placeholder="{{'PLACE_HOLDER_CONTRASEÑA_NUEVA' | translate}}" class="form-control no-border" ng-model="cambioPassword.PasswordNuevo">
            </div>
            <div class="list-group-item">

                <input type="password" name="passwordConfirmar" placeholder="{{'PLACE_HOLDER_CONTRASEÑA_CONFIRMACION' | translate}}" class="form-control no-border" ng-model="cambioPassword.PasswordNuevoConfirmacion">
            </div>
        </div>
        <button type="submit" ng-click="cambiarPassword()" class="btn btn-lg btn-primary btn-block" ng-hide="autenticando">{{'ETIQUETA_BOTON_GUARDAR' | translate}}</button>
        <button type="button" class="btn btn-lg btn-primary btn-block" disabled ng-if="autenticando">
            <i class="fa fa-refresh fa-spin"></i> {{'ETIQUETA_BOTON_GUARDAR' | translate}} ...
        </button>
        <div class="text-center m-t m-b"><a ui-sref="login.autenticar"><small>{{'ETIQUETA_BOTON_INICIAR_SESION' | translate}}</small></a></div>
        <div class="line line-dashed"></div>
    </form>
</section>