<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cerrar()">×</button>
    <h4 class="modal-title" translate="TITULO_PROMPT_OLVIDO_CONTRASENA"></h4>
</div>
<div class="modal-body">
    <div class="list-group-item">
        <input type="email" name="email" placeholder="{{'PLACE_HOLDER_CORREO_ELECTRONICO' | translate}}" class="form-control no-border" ng-model="correo" />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cerrar()" translate="ETIQUETA_BOTON_CANCELAR"></button>
    <button type="button" class="btn btn-primary" ng-hide="enviandoContrasena" ng-click="enviarPassword(correo)">{{'ETIQUETA_BOTON_ENVIAR_CONTRASENA' | translate}}</button>
    <button type="button" class="btn btn-primary" disabled ng-if="enviandoContrasena">
        <i class="fa fa-refresh fa-spin"></i> {{'MENSAJE_ENVIANDO_CONTRASENA' | translate}} ...
    </button>
</div>