<section>
    <section class="scrollable padder">
        <div>
            <div class="m-b-md" style="height:50px">
                <div class="col-sm-8 m-b-sm">
                    <h3 class="m-b-none">{{'ETIQUETA_CONSULTA_ANALISIS_INFORMACION' | translate}}</h3>
                </div>
                <div class="col-sm-3 m-b-sm" style="padding-top:10px">
                    <div class="input-group">
                        <button id="btnGuardarEstadoFinanciero" type="button" class="btn btn-default ng-isolate-scope" title="{{'ETIQUETA_BOTON_GUARDAR' | translate}}" ng-click="guardarConsultaConfiguracion()" ng-if="consultaAnalisis.IdConsultaAnalisis==0"><i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
            <section class="panel panel-default">
                <header class="panel-heading bg-light">
                    {{'ETIQUETA_RESULTADO_CONSULTA'| translate}}
                    <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
                </header>

                <div class="table-responsive">
                    <div class="panel-body font-bold" style="background: #eeeeee; padding-left: 30px" ng-if="cargandoPantalla">
                        <i class="fa fa-refresh fa-spin"></i>
                        {{'MENSAJE_INFO_CARGANDO_CONSULTAS' | translate}} ...
                    </div>

                    <table class="table table-striped b-t b-light" data-ride="datatables" ng-if="!cargandoPantalla">
                        <thead class="table-bordered">
                            <tr>
                                <th class="th-sortable" rowspan="2">{{'EDITOR_XBRL_DESCRIPCION_CONCEPTO'| translate}}</th>
                                <th class="th-sortable" colspan="{{entidad.NumeroColumnas}}" ng-repeat="entidad in entidades" style="text-align:center">{{entidad.NombreEntidad}}</th>
                            </tr>
                            <tr>
                                <th ng-repeat="contexto in contextos">{{contexto.NombreContexto}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="concepto in conceptos">
                                <td class="texto">{{concepto.DescripcionConcepto}}</td>
                                <td ng-repeat="contexto in contextos">{{hechosPorContexto[contexto.Id][concepto.IdConcepto].Valor}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">
                            <input type="button" value="{{'ETIQUETA_BOTON_EXPORTAR_EXCEL' | translate}}" class="btn btn-sm btn-default" ng-click="descargaArchivo()" ng-hide="exportando || cargandoPantalla" />
                            <button type="button" class="btn btn-sm btn-default" ng-if="exportando" disabled>
                                {{'MENSAJE_INFO_EXPORTANDO' | translate}} ...
                            </button>
                        </div>
                        <div class="col-sm-4 text-center">
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                        </div>
                    </div>
                </footer>

            </section>
        </div>
    </section>
</section>