<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web" />
    </sectionGroup>
    <section name="appProperties" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.132.14\SQLDESCS;initial catalog=StivXbrl;persist security info=True;user id=idstivxbrl;password=89wsa9e.34;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <spring>
    <context>
      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/common.xml" />
      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/repository.xml" />
      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/services.xml" />
      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/servicesrest.xml" />
      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/bitacora.xml" />
      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/transaccion.xml" />
      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/templates.xml" />
      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/templatesold.xml" />
	  <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config.Reports/reportesXBRL.xml" />

      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/connectionMongoDB.xml" />
      <resource uri="assembly://AbaxXBRLCore/AbaxXBRLCore.Config/serviceBlockStore.xml" />
      
    </context>
  </spring>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="expresionValidacionPassword" value="(?=.*\d{1})(?=.*[a-z])(?=.*[A-Z])^([a-zA-Z0-9]{8,20})" />
    <add key="mensajeValidacion" value="La contraseña debe contener al menos una letra mayúscula, una minúscula, un número, por lo menos 8 caracteres y no contener caracteres especiales." />
    <add key="expresionValidacionCorreo" value="[a-z0-9!#$%*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
    <add key="expresionValidacionRfc" value="^[a-zA-Z]{3,4}(\d{6})((\D|\d){3})?$" />
    <add key="numeroAutentificaciones" value="3" />
    <add key="numeroDiasValidos" value="60" />
    <add key="numeroPasswordCiclo" value="10" />
    <add key="numeroAutentiticacionesValidasAntesModificacion" value="2" />
    <add key="numeroDiasValidosAntesModificacion" value="7" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />

	<!-- Servidor para LDAP de Microsoft -->
    <!-- Servidor del active directory Valor de ejemplo: LDAP://162.86.XXX.XX/DC=LA,DC=empresa,DC=net-->
    <add key="ServerActiveDirectory" value="LDAP://host" />
    <!-- Valores opciones por si se requiere realizar consultas a partir del usuario especificado, de lo contrario definir los valores vacios y no va a ser-->
    <!-- No sera posible consultar usuario-->
    <add key="usuarioActiveDirectory" value="UsuarioActiveDirectory" />
    <add key="contraseniaActiveDirectory" value="ContraseniaActiveDirectory" />
    

    <!-- Servidor para LDAP de Novell -->
    <add key="ServerLDAPNovell" value="172.31.4.148" />
    <add key="puertoLDAPNovell" value="389" />
    <add key="DNBaseLDAPNovell" value="cn={{0}},ou=EMPLEADOS,ou=PEOPLE,o=penoles" />
    <add key="DNUsuarioNovell" value="abax_proxy" />
    <add key="DNContraseniaNovell" value="abax2015" />
    <!-- Se identifica la base DN en la cual será consultado que el usuario se encuentre en el rol especificado-->
    <add key="DNBaseRolLDAPNovell" value="cn=AbaxXBRL,ou=AbaxXBRL,ou=APLICACION_ADQ,ou=PORTAL,o=penoles" />
    

    <!-- Los tipos de login que puedes ser tomados son: -->
    <!-- LDAP Por Active Directory Microsoft, el valor que debe ser asignado en la propiedad TipoLoginLDAP con valor ActiveDirectoryMicrosoft-->
    <!-- LDAP Por Novell, el valor que debe ser asignado en la propiedad TipoLoginLDAP con valor  ActiveDirectoryNovell-->
    <add key="TipoLoginLDAP" value="ActiveDirectoryNovell" />
    
    <!-- Identifica si la conexión del Login es por medio del Active Directory  con los posibles valores true/false-->
    <add key="LoginActiveDirectory" value="false" />    
    <add key="Version" value="2.0.0" />
    
    
    

  </appSettings>

  <appProperties>
    <add key="NPORT" value="25" />
    <add key="S_USERNAME" value="" />
    <add key="S_PASSWORD" value="" />
    <add key="S_HOST" value="mail.cnbv.gob.mx" />
    <add key="APLICA_SSL" value="false" />
    <add key="S_APP_MAIL" value="procesos_apc@cnbv.gob.mx" />
    <add key="IndicadorInicializarTaxonomias" value="false" />
	<add key="cronExpresionVersionDocumentoPendientes" value="0 0/5 * * * ?" />

    <!--Parámetros para las distribuciones de JSON-->
    <!--<add key="rutaAlmacenJson" value="C:\inetpub\wwwroot\visor\" />-->
	<add key="rutaAlmacenJson" value="C:\Users\Loyola\Documents\Workspace\AbaxXBRL\AbaxCNBV\TestAbaxXBRL\TestOutput\visor\" />
    <add key="nombreArchivoIndiceVisor" value="recepcionDocumentosInstancia.json" />

    <!--<add key="rutaAlmacenExcel" value="C:\inetpub\wwwroot\visor\excel\" />-->
    <!--<add key="rutaAlmacenPDF" value="C:\inetpub\wwwroot\visor\pdf\" />-->
	<add key="rutaAlmacenExcel" value="C:\Users\Loyola\Documents\Workspace\AbaxXBRL\AbaxCNBV\TestAbaxXBRL\TestOutput\excel\" />
	<add key="rutaAlmacenPDF" value="C:\Users\Loyola\Documents\Workspace\AbaxXBRL\AbaxCNBV\TestAbaxXBRL\TestOutput\pdf\" />
    <!--Configuración TIBCO para colas de mensajes-->
    <!--<add key="tibcoServer" value="tcp://SR21VIHR03:10722" />-->
	<add key="tibcoserver" value="tcp://172.16.235.27:10722" />
	<!--<add key="tibcoServer" value="tcp://172.16.235.26:10722" />-->
    <add key="usuarioTibco" value="tibappxbrl" />
    <add key="passwordTibco" value="t1bXBRL4Ppp" />
    <add key="nombreProcesarXBRLQueue" value="CNBV.BURSATIL.STIV.PROCESARXBRL.QUEUE.V1_0" />


    <!-- Informacion para la conexión a mongoDB-->
    <!--<add key="connectionStringMongoDB" value="mongodb://usrAbaxXbrl:usrAbaxXbrl@ds054298.mongolab.com:54298/abaxxbrl" />
    <add key="baseDatosMongoDB" value="abaxxbrl" />-->
    <add key="connectionStringMongoDB" value="mongodb://172.16.200.96/admin" />
	<add key="baseDatosMongoDB" value="admin" />

    <!-- Definicion de colecciones -->

    <add key="BlockStoreHecho" value="BlockStoreHecho" />
    <add key="BlockStoreDimension" value="BlockStoreDimension" />
    <add key="BlockStoreEmpresa" value="BlockStoreEmpresa" />
    <add key="BlockStoreUnidad" value="BlockStoreUnidad" />
    <add key="BlockStoreConcepto" value="BlockStoreConcepto" />
    <add key="NumeroMaximoConsumidores" value="10" />
  </appProperties>
    
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="100000000" requestValidationMode="2.0" />
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
    </handlers>
    <httpErrors>
      <remove statusCode="403" subStatusCode="-1" />
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>

  <!--staticContent>
    <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent-->
  
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TIBCO.EMS" publicKeyToken="5b83db8ff05c64ba" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.810.10" newVersion="1.0.810.10" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
  
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


</configuration>