USE [abax_xbrl_db]
GO
/****** Object:  Table [dbo].[DocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocumentoInstancia](
	[IdDocumentoInstancia] [bigint] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](200) NULL,
	[RutaArchivo] [varchar](4000) NULL,
	[FechaCreacion] [datetime] NULL,
	[IdEmpresa] [bigint] NOT NULL,
	[EsCorrecto] [bit] NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[IdUsuarioBloqueo] [bigint] NULL,
	[IdUsuarioUltMod] [bigint] NULL,
	[FechaUltMod] [datetime] NULL,
	[UltimaVersion] [int] NULL,
	[GruposContextosEquivalentes] [varchar](max) NULL,
	[ParametrosConfiguracion] [varchar](max) NULL,
 CONSTRAINT [PK_DocumentoInstancia] PRIMARY KEY CLUSTERED 
(
	[IdDocumentoInstancia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CategoriaFacultad]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CategoriaFacultad](
	[IdCategoriaFacultad] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_CategoriaFacultad] PRIMARY KEY CLUSTERED 
(
	[IdCategoriaFacultad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriaFacultad] ON
INSERT [dbo].[CategoriaFacultad] ([IdCategoriaFacultad], [Nombre], [Descripcion], [Borrado]) VALUES (1, N'Facultades Usuarios ', N'Categoria de Facultades de Modulo Usuario', 0)
INSERT [dbo].[CategoriaFacultad] ([IdCategoriaFacultad], [Nombre], [Descripcion], [Borrado]) VALUES (2, N'Facultades Roles', N'Categoria de Facultades de Modulo Roles', 0)
INSERT [dbo].[CategoriaFacultad] ([IdCategoriaFacultad], [Nombre], [Descripcion], [Borrado]) VALUES (3, N'Facultades Empresas', N'Categoria de Facultades de Modulo Empresa', 0)
SET IDENTITY_INSERT [dbo].[CategoriaFacultad] OFF
/****** Object:  Table [dbo].[CATALOGO_ELEMENTOS]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATALOGO_ELEMENTOS](
	[ETIQUETA] [varchar](400) NOT NULL,
	[TITULO] [varchar](1000) NOT NULL,
	[COLUMNA] [varchar](400) NULL,
	[INDENTACION] [int] NOT NULL,
	[PREFIJO] [varchar](50) NULL,
	[ID_CATALOGO_ELEMENTOS] [bigint] IDENTITY(1,1) NOT NULL,
	[CUENTA_EMISNET] [varchar](50) NULL,
	[TIPO_DATO] [varchar](400) NOT NULL,
	[ID_FORMATO] [bigint] NOT NULL,
	[DIMENSION] [varchar](200) NULL,
	[ORDEN_RENGLON] [int] NULL,
	[ORDEN_COLUMNA] [int] NULL,
	[ID_COLUMNA] [varchar](50) NULL,
	[ID_RENGLON] [varchar](50) NULL,
	[ICONO] [varchar](500) NULL,
	[CLASE] [varchar](50) NULL,
 CONSTRAINT [PK_CATALOGO_ELEMENTOS] PRIMARY KEY CLUSTERED 
(
	[ID_CATALOGO_ELEMENTOS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CATALOGO_ELEMENTOS] ON
INSERT [dbo].[CATALOGO_ELEMENTOS] ([ETIQUETA], [TITULO], [COLUMNA], [INDENTACION], [PREFIJO], [ID_CATALOGO_ELEMENTOS], [CUENTA_EMISNET], [TIPO_DATO], [ID_FORMATO], [DIMENSION], [ORDEN_RENGLON], [ORDEN_COLUMNA], [ID_COLUMNA], [ID_RENGLON], [ICONO], [CLASE]) VALUES (N'ifrs:Assets', N'ACTIVOS TOTALES', NULL, 1, NULL, 1, N'10000000', N'4', 109, NULL, 0, 0, NULL, NULL, N'fa fa-dollar', N'acurrency')
INSERT [dbo].[CATALOGO_ELEMENTOS] ([ETIQUETA], [TITULO], [COLUMNA], [INDENTACION], [PREFIJO], [ID_CATALOGO_ELEMENTOS], [CUENTA_EMISNET], [TIPO_DATO], [ID_FORMATO], [DIMENSION], [ORDEN_RENGLON], [ORDEN_COLUMNA], [ID_COLUMNA], [ID_RENGLON], [ICONO], [CLASE]) VALUES (N'ifrs:CurrentAssets', N'ACTIVOS CIRCULANTES', NULL, 1, NULL, 2, N'11000000', N'4', 109, NULL, 0, 0, NULL, NULL, N'fa fa-dollar', N'acurrency')
INSERT [dbo].[CATALOGO_ELEMENTOS] ([ETIQUETA], [TITULO], [COLUMNA], [INDENTACION], [PREFIJO], [ID_CATALOGO_ELEMENTOS], [CUENTA_EMISNET], [TIPO_DATO], [ID_FORMATO], [DIMENSION], [ORDEN_RENGLON], [ORDEN_COLUMNA], [ID_COLUMNA], [ID_RENGLON], [ICONO], [CLASE]) VALUES (N'ifrs:CashAndCashEquivalents', N'EFECTIVO Y EQUIVALENTES DE EFECTIVO', NULL, 1, NULL, 3, N'11010000', N'4', 109, NULL, 0, 0, NULL, NULL, N'fa fa-dollar', N'acurrency')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[CATALOGO_ELEMENTOS] OFF
/****** Object:  Table [dbo].[ArchivoTaxonomiaXbrl]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ArchivoTaxonomiaXbrl](
	[IdArchivoTaxonomiaXbrl] [bigint] IDENTITY(1,1) NOT NULL,
	[IdTaxonomiaXbrl] [bigint] NOT NULL,
	[TipoReferencia] [int] NOT NULL,
	[Href] [varchar](1000) NULL,
	[Rol] [varchar](500) NULL,
	[RolUri] [varchar](500) NULL,
 CONSTRAINT [PK_ArchivoTaxonomiaXbrl] PRIMARY KEY CLUSTERED 
(
	[IdArchivoTaxonomiaXbrl] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ArchivoTaxonomiaXbrl] ON
INSERT [dbo].[ArchivoTaxonomiaXbrl] ([IdArchivoTaxonomiaXbrl], [IdTaxonomiaXbrl], [TipoReferencia], [Href], [Rol], [RolUri]) VALUES (1, 1, 1, N'http://emisnet.bmv.com.mx/taxonomy/mx-ifrs-ics-2012-04-01/All/ifrs-mx-ics-entryPoint-all-2012-04-01.xsd', NULL, NULL)
INSERT [dbo].[ArchivoTaxonomiaXbrl] ([IdArchivoTaxonomiaXbrl], [IdTaxonomiaXbrl], [TipoReferencia], [Href], [Rol], [RolUri]) VALUES (2, 2, 1, N'http://emisnet.bmv.com.mx/taxonomy/mx-ifrs-2014-12-05/full_ifrs_mc_mx_ics_entry_point_2014-12-05.xsd', NULL, NULL)
INSERT [dbo].[ArchivoTaxonomiaXbrl] ([IdArchivoTaxonomiaXbrl], [IdTaxonomiaXbrl], [TipoReferencia], [Href], [Rol], [RolUri]) VALUES (3, 3, 1, N'http://emisnet.bmv.com.mx/taxonomy/mx-ifrs-2014-12-05/full_ifrs_mc_mx_sapib_entry_point_2014-12-05.xsd', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ArchivoTaxonomiaXbrl] OFF
/****** Object:  Table [dbo].[GrupoUsuariosRol]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoUsuariosRol](
	[IdGrupoUsuariosRol] [bigint] IDENTITY(1,1) NOT NULL,
	[IdGrupoUsuario] [bigint] NOT NULL,
	[IdRol] [bigint] NOT NULL,
 CONSTRAINT [PK_GrupoUsuariosRol] PRIMARY KEY CLUSTERED 
(
	[IdGrupoUsuariosRol] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoUsuarios]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GrupoUsuarios](
	[IdGrupoUsuarios] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NOT NULL,
	[IdEmpresa] [bigint] NOT NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_GrupoUsuarios] PRIMARY KEY CLUSTERED 
(
	[IdGrupoUsuarios] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[GrupoUsuarios] ON
INSERT [dbo].[GrupoUsuarios] ([IdGrupoUsuarios], [Nombre], [Descripcion], [IdEmpresa], [Borrado]) VALUES (7, N'Administradores XBRL', N'Grupo de Administradores XBRL', 1, 0)
SET IDENTITY_INSERT [dbo].[GrupoUsuarios] OFF
/****** Object:  Table [dbo].[FORMATO]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMATO](
	[ID_FORMATO] [bigint] NOT NULL,
	[NOMBRE_FORMATO] [varchar](400) NOT NULL,
 CONSTRAINT [PK_FORMATO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMATO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FORMATO] ([ID_FORMATO], [NOMBRE_FORMATO]) VALUES (107, N'Datos Informativos a 12 Meses')
INSERT [dbo].[FORMATO] ([ID_FORMATO], [NOMBRE_FORMATO]) VALUES (108, N'Información General')
INSERT [dbo].[FORMATO] ([ID_FORMATO], [NOMBRE_FORMATO]) VALUES (109, N'Estado de Posición Financiera')
/****** Object:  Table [dbo].[Facultad]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facultad](
	[IdFacultad] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
	[IdCategoriaFacultad] [bigint] NOT NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_Facultad_1] PRIMARY KEY CLUSTERED 
(
	[IdFacultad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Facultad] ON
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) VALUES (1, N'Insertar Usuario', N'Facultad para Insertar Usuarios', 1, 0)
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) VALUES (2, N'Editar Usuario', N'Facultad para Editar Usuarios', 1, 0)
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) VALUES (3, N'Eliminar Usuario', N'Facultad para Eliminar Usuarios', 1, 0)
SET IDENTITY_INSERT [dbo].[Facultad] OFF
/****** Object:  Table [dbo].[Empresa]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa](
	[IdEmpresa] [bigint] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](400) NOT NULL,
	[NombreCorto] [varchar](50) NOT NULL,
	[RFC] [varchar](50) NULL,
	[DomicilioFiscal] [varchar](2000) NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Empresa] ON
INSERT [dbo].[Empresa] ([IdEmpresa], [RazonSocial], [NombreCorto], [RFC], [DomicilioFiscal], [Borrado]) VALUES (1, N'Grupo ALCON SA de CV', N'ALCON', N'GOFE860831EX1', N'Domicilio', 0)
SET IDENTITY_INSERT [dbo].[Empresa] OFF
/****** Object:  Table [dbo].[Usuario]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[ApellidoPaterno] [varchar](200) NOT NULL,
	[ApellidoMaterno] [varchar](200) NULL,
	[CorreoElectronico] [varchar](400) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[HistoricoPassword] [varchar](500) NULL,
	[VigenciaPassword] [date] NOT NULL,
	[IntentosErroneosLogin] [int] NULL,
	[Bloqueado] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Puesto] [varchar](200) NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_Usuario_1] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [CorreoElectronico], [Password], [HistoricoPassword], [VigenciaPassword], [IntentosErroneosLogin], [Bloqueado], [Activo], [Puesto], [Borrado]) VALUES (3, N'Administrador', N'Administrador', N'Administrador', N'admin@admin.com', N'76DCD53F4765203853F14B107D393B3910105A20b9k5iIg=', N'76DCD53F4765203853F14B107D393B3910105A20b9k5iIg=', CAST(0xDD390B00 AS Date), 0, 0, 1, N'Administrador', 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Table [dbo].[Unidad]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Unidad](
	[IdUnidad] [bigint] IDENTITY(1,1) NOT NULL,
	[Medida] [varchar](4000) NULL,
	[Numerador] [varchar](4000) NULL,
	[Denominador] [varchar](4000) NULL,
	[EsFraccion] [bit] NOT NULL,
	[IdDocumentoInstancia] [bigint] NULL,
	[IdRef] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Unidad] PRIMARY KEY CLUSTERED 
(
	[IdUnidad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoDato]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoDato](
	[IdTipoDato] [bigint] NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[EsNumerico] [bit] NOT NULL,
	[EsFraccion] [bit] NOT NULL,
	[NombreXbrl] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TipoDato] PRIMARY KEY CLUSTERED 
(
	[IdTipoDato] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TipoDato] ([IdTipoDato], [Nombre], [EsNumerico], [EsFraccion], [NombreXbrl]) VALUES (1, N'http://www.xbrl.org/2003/instance:decimalItemType', 1, 0, N'decimal')
INSERT [dbo].[TipoDato] ([IdTipoDato], [Nombre], [EsNumerico], [EsFraccion], [NombreXbrl]) VALUES (2, N'http://www.xbrl.org/2003/instance:floatItemType', 1, 0, N'float')
INSERT [dbo].[TipoDato] ([IdTipoDato], [Nombre], [EsNumerico], [EsFraccion], [NombreXbrl]) VALUES (3, N'http://www.xbrl.org/2003/instance:doubleItemType', 1, 0, N'double')
/****** Object:  Table [dbo].[TaxonomiaXbrl]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaxonomiaXbrl](
	[IdTaxonomiaXbrl] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](300) NULL,
	[Descripcion] [varchar](1000) NULL,
	[Anio] [int] NULL,
 CONSTRAINT [PK_TaxonomiaXbrl] PRIMARY KEY CLUSTERED 
(
	[IdTaxonomiaXbrl] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TaxonomiaXbrl] ON
INSERT [dbo].[TaxonomiaXbrl] ([IdTaxonomiaXbrl], [Nombre], [Descripcion], [Anio]) VALUES (1, N'IFRS BMV 2013', N'Taxonomía IFRS de la BMV 2013', 2013)
INSERT [dbo].[TaxonomiaXbrl] ([IdTaxonomiaXbrl], [Nombre], [Descripcion], [Anio]) VALUES (2, N'IFRS BMV 2015 para ICS', N'Taxonomía IFRS de la BMV 2015 para Empresas Comerciales y de Servicios', 2015)
INSERT [dbo].[TaxonomiaXbrl] ([IdTaxonomiaXbrl], [Nombre], [Descripcion], [Anio]) VALUES (3, N'IFRS BMV 2015 para SAPIB', N'Taxonomía IFRS de la BMV 2015 para Empresas de Sociedad Anónima Promotora de Inversión Bursátil', 2015)
SET IDENTITY_INSERT [dbo].[TaxonomiaXbrl] OFF
/****** Object:  Table [dbo].[RolFacultad]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFacultad](
	[IdRolFacultad] [bigint] IDENTITY(1,1) NOT NULL,
	[IdRol] [bigint] NOT NULL,
	[IdFacultad] [bigint] NOT NULL,
 CONSTRAINT [PK_RolFacultad] PRIMARY KEY CLUSTERED 
(
	[IdRolFacultad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RolFacultad] ON
INSERT [dbo].[RolFacultad] ([IdRolFacultad], [IdRol], [IdFacultad]) VALUES (407, 8, 1)
INSERT [dbo].[RolFacultad] ([IdRolFacultad], [IdRol], [IdFacultad]) VALUES (408, 8, 2)
INSERT [dbo].[RolFacultad] ([IdRolFacultad], [IdRol], [IdFacultad]) VALUES (409, 8, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[RolFacultad] OFF
/****** Object:  Table [dbo].[Rol]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
	[IdEmpresa] [bigint] NOT NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_Rol_1] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON
INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion], [IdEmpresa], [Borrado]) VALUES (93, N'Administrador General', N'Rol con todos los privilegios de Abax XBRL', 1, 0)
INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion], [IdEmpresa], [Borrado]) VALUES (104, N'Administrador', N'Administrador con restricciones de creación de Empresas, Roles, Grupos, Usuarios, Usuarios Empresa', 1, 0)
INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion], [IdEmpresa], [Borrado]) VALUES (10124, N'Usuario Negocio', N'Rol con privilegios para el Tablero de Control,  Editor XBRL', 1, 0)
SET IDENTITY_INSERT [dbo].[Rol] OFF
/****** Object:  Table [dbo].[REPOSITORIO_HECHOS]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REPOSITORIO_HECHOS](
	[ID_HECHO] [bigint] IDENTITY(1,1) NOT NULL,
	[CLAVE_EMPRESA] [varchar](50) NOT NULL,
	[FECHA] [datetime] NULL,
	[VALOR] [varchar](max) NULL,
	[ID_CATALOGO_ELEMENTOS] [bigint] NOT NULL,
	[UNIDAD] [varchar](50) NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_FIN] [datetime] NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
 CONSTRAINT [PK_REPOSIOTRIO_HECHO] PRIMARY KEY CLUSTERED 
(
	[ID_HECHO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RegistroAuditoria]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RegistroAuditoria](
	[IdRegistroAuditoria] [bigint] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdUsuario] [bigint] NULL,
	[IdModulo] [bigint] NULL,
	[IdAccionAuditable] [bigint] NULL,
	[Registro] [varchar](max) NOT NULL,
	[IdEmpresa] [bigint] NULL,
 CONSTRAINT [PK_RegistroAuditoria] PRIMARY KEY CLUSTERED 
(
	[IdRegistroAuditoria] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RegistroAuditoria] ON
INSERT [dbo].[RegistroAuditoria] ([IdRegistroAuditoria], [Fecha], [IdUsuario], [IdModulo], [IdAccionAuditable], [Registro], [IdEmpresa]) VALUES (16440, CAST(0x0000A4470181B40B AS DateTime), 3, 1, 5, N'El usuario se autentificó en la aplicación', NULL)
INSERT [dbo].[RegistroAuditoria] ([IdRegistroAuditoria], [Fecha], [IdUsuario], [IdModulo], [IdAccionAuditable], [Registro], [IdEmpresa]) VALUES (16441, CAST(0x0000A44701846967 AS DateTime), 3, 1, 5, N'El usuario se autentificó en la aplicación', NULL)
SET IDENTITY_INSERT [dbo].[RegistroAuditoria] OFF
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[IdUsuarioRol] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdRol] [bigint] NOT NULL,
 CONSTRAINT [PK_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioRol] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UsuarioRol] ON
INSERT [dbo].[UsuarioRol] ([IdUsuarioRol], [IdUsuario], [IdRol]) VALUES (10063, 3, 93)
INSERT [dbo].[UsuarioRol] ([IdUsuarioRol], [IdUsuario], [IdRol]) VALUES (10064, 3, 10124)
SET IDENTITY_INSERT [dbo].[UsuarioRol] OFF
/****** Object:  Table [dbo].[UsuarioGrupo]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioGrupo](
	[IdUsuarioGrupo] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdGrupoUsuarios] [bigint] NOT NULL,
 CONSTRAINT [PK_UsuarioGrupo] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioGrupo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UsuarioGrupo] ON
INSERT [dbo].[UsuarioGrupo] ([IdUsuarioGrupo], [IdUsuario], [IdGrupoUsuarios]) VALUES (67, 3, 7)
SET IDENTITY_INSERT [dbo].[UsuarioGrupo] OFF
/****** Object:  Table [dbo].[UsuarioEmpresa]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioEmpresa](
	[IdUsuarioEmpresa] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdEmpresa] [bigint] NOT NULL,
 CONSTRAINT [PK_UsuarioEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioEmpresa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UsuarioEmpresa] ON
INSERT [dbo].[UsuarioEmpresa] ([IdUsuarioEmpresa], [IdUsuario], [IdEmpresa]) VALUES (133, 3, 1)
SET IDENTITY_INSERT [dbo].[UsuarioEmpresa] OFF
/****** Object:  Table [dbo].[Modulo]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modulo](
	[IdModulo] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
 CONSTRAINT [PK_Modulo] PRIMARY KEY CLUSTERED 
(
	[IdModulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Modulo] ON
INSERT [dbo].[Modulo] ([IdModulo], [Nombre], [Descripcion]) VALUES (1, N'Login', N'Modulo del acceso del sitio')
INSERT [dbo].[Modulo] ([IdModulo], [Nombre], [Descripcion]) VALUES (2, N'Usuarios', N'Modulo Administracion de Usuarios')
INSERT [dbo].[Modulo] ([IdModulo], [Nombre], [Descripcion]) VALUES (3, N'Empresa', N'Modulo Administracion de Empresas')
SET IDENTITY_INSERT [dbo].[Modulo] OFF
/****** Object:  Table [dbo].[AccionAuditable]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccionAuditable](
	[IdAccionAuditable] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
 CONSTRAINT [PK_AccionAuditable] PRIMARY KEY CLUSTERED 
(
	[IdAccionAuditable] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AccionAuditable] ON
INSERT [dbo].[AccionAuditable] ([IdAccionAuditable], [Nombre], [Descripcion]) VALUES (1, N'Login', N'Acción auditable del registro de la autenticación de los usuarios en el sitio')
INSERT [dbo].[AccionAuditable] ([IdAccionAuditable], [Nombre], [Descripcion]) VALUES (2, N'Insertar', N'Accion auditable de inserciones  en la aplicacion')
INSERT [dbo].[AccionAuditable] ([IdAccionAuditable], [Nombre], [Descripcion]) VALUES (3, N'Actualizar', N'Accion auditable de actualizaciones  en la aplicacion')
SET IDENTITY_INSERT [dbo].[AccionAuditable] OFF
/****** Object:  Table [dbo].[VersionDocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VersionDocumentoInstancia](
	[IdVersionDocumentoInstancia] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[Version] [int] NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Comentarios] [varchar](4000) NULL,
	[Datos] [varchar](max) NOT NULL,
	[IdEmpresa] [bigint] NOT NULL,
	[EsCorrecto] [bit] NOT NULL,
 CONSTRAINT [PK_VersionDocumentoInstancia] PRIMARY KEY CLUSTERED 
(
	[IdVersionDocumentoInstancia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hecho]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hecho](
	[IdHecho] [bigint] IDENTITY(1,1) NOT NULL,
	[Concepto] [varchar](4000) NULL,
	[Valor] [varchar](max) NULL,
	[IdContexto] [bigint] NULL,
	[IdUnidad] [bigint] NULL,
	[Precision] [varchar](100) NULL,
	[Decimales] [varchar](100) NULL,
	[IdTipoDato] [bigint] NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[EspacioNombres] [varchar](4000) NOT NULL,
	[IdConcepto] [varchar](500) NULL,
	[EsTupla] [bit] NOT NULL,
	[IdInternoTuplaPadre] [bigint] NULL,
	[IdInterno] [bigint] NULL,
	[IdRef] [varchar](255) NULL,
 CONSTRAINT [PK_Hecho] PRIMARY KEY CLUSTERED 
(
	[IdHecho] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuarioDocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioDocumentoInstancia](
	[IdusuarioDocumentoInstancia] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[PuedeEscribir] [bit] NOT NULL,
	[PuedeLeer] [bit] NOT NULL,
	[EsDueno] [bit] NOT NULL,
 CONSTRAINT [PK_UsuarioDocumentoInstancia] PRIMARY KEY CLUSTERED 
(
	[IdusuarioDocumentoInstancia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotaAlPie]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotaAlPie](
	[IdNotaAlPie] [bigint] IDENTITY(1,1) NOT NULL,
	[Idioma] [varchar](50) NULL,
	[Valor] [varchar](max) NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[IdRef] [varchar](255) NOT NULL,
	[Rol] [varchar](500) NULL,
 CONSTRAINT [PK_NotaAlPie] PRIMARY KEY CLUSTERED 
(
	[IdNotaAlPie] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DtsDocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DtsDocumentoInstancia](
	[IdDtsDocumentoInstancia] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[Href] [varchar](4000) NOT NULL,
	[Rol] [varchar](500) NULL,
	[RolUri] [varchar](500) NULL,
	[TipoReferencia] [int] NOT NULL,
 CONSTRAINT [PK_DtsDocumentoInstancia] PRIMARY KEY CLUSTERED 
(
	[IdDtsDocumentoInstancia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Alerta]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alerta](
	[IdAlerta] [bigint] IDENTITY(1,1) NOT NULL,
	[Contenido] [varchar](4000) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[DocumentoCorrecto] [bit] NOT NULL,
 CONSTRAINT [PK_Alerta] PRIMARY KEY CLUSTERED 
(
	[IdAlerta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contexto]    Script Date: 02/22/2015 23:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contexto](
	[IdContexto] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[TipoContexto] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[PorSiempre] [bit] NULL,
	[Escenario] [varchar](max) NULL,
	[IdDocumentoInstancia] [bigint] NULL,
	[EsquemaEntidad] [varchar](400) NULL,
	[IdentificadorEntidad] [varchar](400) NULL,
	[Segmento] [varchar](max) NULL,
 CONSTRAINT [PK_Contexto] PRIMARY KEY CLUSTERED 
(
	[IdContexto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_Alerta_DocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD  CONSTRAINT [FK_Alerta_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alerta] CHECK CONSTRAINT [FK_Alerta_DocumentoInstancia]
GO
/****** Object:  ForeignKey [FK_Contexto_DocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
ALTER TABLE [dbo].[Contexto]  WITH NOCHECK ADD  CONSTRAINT [FK_Contexto_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contexto] CHECK CONSTRAINT [FK_Contexto_DocumentoInstancia]
GO
/****** Object:  ForeignKey [FK_DtsDocumentoInstancia_DocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
ALTER TABLE [dbo].[DtsDocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_DtsDocumentoInstancia_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DtsDocumentoInstancia] CHECK CONSTRAINT [FK_DtsDocumentoInstancia_DocumentoInstancia]
GO
/****** Object:  ForeignKey [FK_Hecho_DocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
ALTER TABLE [dbo].[Hecho]  WITH NOCHECK ADD  CONSTRAINT [FK_Hecho_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hecho] CHECK CONSTRAINT [FK_Hecho_DocumentoInstancia]
GO
/****** Object:  ForeignKey [FK_NotaAlPie_DocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
ALTER TABLE [dbo].[NotaAlPie]  WITH NOCHECK ADD  CONSTRAINT [FK_NotaAlPie_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotaAlPie] CHECK CONSTRAINT [FK_NotaAlPie_DocumentoInstancia]
GO
/****** Object:  ForeignKey [FK_UsuarioDocumentoInstancia_DocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
ALTER TABLE [dbo].[UsuarioDocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioDocumentoInstancia_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioDocumentoInstancia] CHECK CONSTRAINT [FK_UsuarioDocumentoInstancia_DocumentoInstancia]
GO
/****** Object:  ForeignKey [FK_VersionDocumentoInstancia_DocumentoInstancia]    Script Date: 02/22/2015 23:36:11 ******/
ALTER TABLE [dbo].[VersionDocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_VersionDocumentoInstancia_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VersionDocumentoInstancia] CHECK CONSTRAINT [FK_VersionDocumentoInstancia_DocumentoInstancia]
GO
