
/****** Object:  Table [dbo].[AccionAuditable]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccionAuditable](
	[IdAccionAuditable] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
 CONSTRAINT [PK_AccionAuditable] PRIMARY KEY CLUSTERED 
(
	[IdAccionAuditable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Alerta]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alerta](
	[IdAlerta] [bigint] IDENTITY(1,1) NOT NULL,
	[Contenido] [varchar](4000) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[DocumentoCorrecto] [bit] NOT NULL,
 CONSTRAINT [PK_Alerta] PRIMARY KEY CLUSTERED 
(
	[IdAlerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ArchivoTaxonomiaXbrl]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ArchivoTaxonomiaXbrl](
	[IdArchivoTaxonomiaXbrl] [bigint] IDENTITY(1,1) NOT NULL,
	[IdTaxonomiaXbrl] [bigint] NOT NULL,
	[TipoReferencia] [int] NOT NULL,
	[Href] [varchar](1000) NULL,
	[Rol] [varchar](500) NULL,
	[RolUri] [varchar](500) NULL,
 CONSTRAINT [PK_ArchivoTaxonomiaXbrl] PRIMARY KEY CLUSTERED 
(
	[IdArchivoTaxonomiaXbrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CategoriaFacultad]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CategoriaFacultad](
	[IdCategoriaFacultad] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_CategoriaFacultad] PRIMARY KEY CLUSTERED 
(
	[IdCategoriaFacultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contexto]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contexto](
	[IdContexto] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](800) NOT NULL,
	[TipoContexto] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[PorSiempre] [bit] NULL,
	[Escenario] [varchar](max) NULL,
	[IdDocumentoInstancia] [bigint] NULL,
	[EsquemaEntidad] [varchar](400) NULL,
	[IdentificadorEntidad] [varchar](400) NULL,
	[Segmento] [varchar](max) NULL,
 CONSTRAINT [PK_Contexto] PRIMARY KEY CLUSTERED 
(
	[IdContexto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DocumentoInstancia]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocumentoInstancia](
	[IdDocumentoInstancia] [bigint] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](200) NULL,
	[RutaArchivo] [varchar](4000) NULL,
	[FechaCreacion] [datetime] NULL,
	[IdEmpresa] [bigint] NULL,
	[EsCorrecto] [bit] NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[IdUsuarioBloqueo] [bigint] NULL,
	[IdUsuarioUltMod] [bigint] NULL,
	[FechaUltMod] [datetime] NULL,
	[UltimaVersion] [int] NULL,
	[GruposContextosEquivalentes] [varchar](max) NULL,
	[ParametrosConfiguracion] [varchar](max) NULL,
	[EspacioNombresPrincipal] [varchar](1000) NULL,
	[ClaveEmisora] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Anio] [int] NULL,
	[Trimestre] varchar(2) NULL,
 CONSTRAINT [PK_DocumentoInstancia] PRIMARY KEY CLUSTERED 
(
	[IdDocumentoInstancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DtsDocumentoInstancia]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DtsDocumentoInstancia](
	[IdDtsDocumentoInstancia] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[Href] [varchar](4000) NOT NULL,
	[Rol] [varchar](500) NULL,
	[RolUri] [varchar](500) NULL,
	[TipoReferencia] [int] NOT NULL,
 CONSTRAINT [PK_DtsDocumentoInstancia] PRIMARY KEY CLUSTERED 
(
	[IdDtsDocumentoInstancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa](
	[IdEmpresa] [bigint] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](400) NOT NULL,
	[NombreCorto] [varchar](50) NOT NULL,
	[RFC] [varchar](50) NULL,
	[DomicilioFiscal] [varchar](2000) NULL,
	[Borrado] [bit] NULL,
	[GrupoEmpresa] [varchar](12) NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Facultad]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facultad](
	[IdFacultad] [bigint] NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
	[IdCategoriaFacultad] [bigint] NOT NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_Facultad_1] PRIMARY KEY CLUSTERED 
(
	[IdFacultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GrupoUsuarios]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GrupoUsuarios](
	[IdGrupoUsuarios] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NOT NULL,
	[IdEmpresa] [bigint] NOT NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_GrupoUsuarios] PRIMARY KEY CLUSTERED 
(
	[IdGrupoUsuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GrupoUsuariosRol]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoUsuariosRol](
	[IdGrupoUsuariosRol] [bigint] IDENTITY(1,1) NOT NULL,
	[IdGrupoUsuario] [bigint] NOT NULL,
	[IdRol] [bigint] NOT NULL,
 CONSTRAINT [PK_GrupoUsuariosRol] PRIMARY KEY CLUSTERED 
(
	[IdGrupoUsuariosRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hecho]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hecho](
	[IdHecho] [bigint] IDENTITY(1,1) NOT NULL,
	[Concepto] [varchar](4000) NOT NULL,
	[Valor] [varchar](max) NULL,
	[IdContexto] [bigint] NULL,
	[IdUnidad] [bigint] NULL,
	[Precision] [varchar](100) NULL,
	[Decimales] [varchar](100) NULL,
	[IdTipoDato] [bigint] NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[EspacioNombres] [varchar](4000) NOT NULL,
	[IdConcepto] [varchar](500) NULL,
	[EsTupla] [bit] NOT NULL,
	[IdInternoTuplaPadre] [bigint] NULL,
	[IdInterno] [bigint] NULL,
	[IdRef] [varchar](500) NULL,
 CONSTRAINT [PK_Hecho] PRIMARY KEY CLUSTERED 
(
	[IdHecho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Modulo](
	[IdModulo] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
 CONSTRAINT [PK_Modulo] PRIMARY KEY CLUSTERED 
(
	[IdModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NotaAlPie]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotaAlPie](
	[IdNotaAlPie] [bigint] IDENTITY(1,1) NOT NULL,
	[Idioma] [varchar](50) NULL,
	[Valor] [varchar](max) NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[IdRef] [varchar](255) NOT NULL,
	[Rol] [varchar](500) NULL,
 CONSTRAINT [PK_NotaAlPie] PRIMARY KEY CLUSTERED 
(
	[IdNotaAlPie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RegistroAuditoria]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RegistroAuditoria](
	[IdRegistroAuditoria] [bigint] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdUsuario] [bigint] NULL,
	[IdModulo] [bigint] NOT NULL,
	[IdAccionAuditable] [bigint] NOT NULL,
	[Registro] [varchar](max) NOT NULL,
	[IdEmpresa] [bigint] NULL,
 CONSTRAINT [PK_RegistroAuditoria] PRIMARY KEY CLUSTERED 
(
	[IdRegistroAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](4000) NULL,
	[IdEmpresa] [bigint] NOT NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_Rol_1] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RolFacultad]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFacultad](
	[IdRolFacultad] [bigint] IDENTITY(1,1) NOT NULL,
	[IdRol] [bigint] NOT NULL,
	[IdFacultad] [bigint] NOT NULL,
 CONSTRAINT [PK_RolFacultad] PRIMARY KEY CLUSTERED 
(
	[IdRolFacultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaxonomiaXbrl]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaxonomiaXbrl](
	[IdTaxonomiaXbrl] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](300) NULL,
	[Descripcion] [varchar](1000) NULL,
	[Anio] [int] NULL,
	[EspacioNombresPrincipal] [varchar](1000) NULL,
	[Activa] [bit] NOT NULL DEFAULT(1),
 CONSTRAINT [PK_TaxonomiaXbrl] PRIMARY KEY CLUSTERED 
(
	[IdTaxonomiaXbrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoDato]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoDato](
	[IdTipoDato] [bigint] NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[EsNumerico] [bit] NOT NULL,
	[EsFraccion] [bit] NOT NULL,
	[NombreXbrl] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TipoDato] PRIMARY KEY CLUSTERED 
(
	[IdTipoDato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Unidad]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Unidad](
	[IdUnidad] [bigint] IDENTITY(1,1) NOT NULL,
	[Medida] [varchar](4000) NULL,
	[Numerador] [varchar](4000) NULL,
	[Denominador] [varchar](4000) NULL,
	[EsFraccion] [bit] NOT NULL,
	[IdDocumentoInstancia] [bigint] NULL,
	[IdRef] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Unidad] PRIMARY KEY CLUSTERED 
(
	[IdUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[ApellidoPaterno] [varchar](200) NOT NULL,
	[ApellidoMaterno] [varchar](200) NULL,
	[CorreoElectronico] [varchar](400) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[HistoricoPassword] [varchar](500) NULL,
	[VigenciaPassword] [date] NOT NULL,
	[IntentosErroneosLogin] [int] NULL,
	[Bloqueado] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Puesto] [varchar](200) NULL,
	[Borrado] [bit] NULL,
	[TipoUsuario] [int] NULL,
	[TokenSesion] [varchar](4000) NULL,
 CONSTRAINT [PK_Usuario_1] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuarioDocumentoInstancia]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioDocumentoInstancia](
	[IdusuarioDocumentoInstancia] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[PuedeEscribir] [bit] NOT NULL,
	[PuedeLeer] [bit] NOT NULL,
	[EsDueno] [bit] NOT NULL,
 CONSTRAINT [PK_UsuarioDocumentoInstancia] PRIMARY KEY CLUSTERED 
(
	[IdusuarioDocumentoInstancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuarioEmpresa]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioEmpresa](
	[IdUsuarioEmpresa] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdEmpresa] [bigint] NOT NULL,
 CONSTRAINT [PK_UsuarioEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuarioGrupo]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioGrupo](
	[IdUsuarioGrupo] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdGrupoUsuarios] [bigint] NOT NULL,
 CONSTRAINT [PK_UsuarioGrupo] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[IdUsuarioRol] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdRol] [bigint] NOT NULL,
 CONSTRAINT [PK_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VersionDocumentoInstancia]    Script Date: 07/06/2015 03:19:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VersionDocumentoInstancia](
	[IdVersionDocumentoInstancia] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[Version] [int] NOT NULL,
	[IdUsuario] [bigint] NULL,
	[Fecha] [datetime] NOT NULL,
	[Comentarios] [varchar](4000) NULL,
	[Datos] [varchar](max) NOT NULL,
	[IdEmpresa] [bigint] NULL,
	[EsCorrecto] [bit] NOT NULL,
 CONSTRAINT [PK_VersionDocumentoInstancia] PRIMARY KEY CLUSTERED 
(
	[IdVersionDocumentoInstancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[ConsultaAnalisis]    Script Date: 06/28/2015 13:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConsultaAnalisis](
	[IdConsultaAnalisis] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](500) NOT NULL,
	[Descripcion] [varchar](1000) NULL,
	[TipoConsulta] [int] NULL,
	[IdTaxonomiaXbrl] [bigint] NULL,
 CONSTRAINT [PK_ConsultaAnalisis] PRIMARY KEY CLUSTERED 
(
	[IdConsultaAnalisis] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConsultaAnalisisPeriodo]    Script Date: 06/28/2015 13:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConsultaAnalisisPeriodo](
	[IdConsultaAnalisisPeriodo] [bigint] IDENTITY(1,1) NOT NULL,
	[IdConsultaAnalisis] [bigint] NOT NULL,
	[Periodo] [varchar](400) NOT NULL,
	[Fecha] [datetime] NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFinal] [datetime] NULL,
	[TipoPeriodo] [int] NULL,
	[Anio] [int] NULL,
	[Trimestre] [varchar](2) NULL,
 CONSTRAINT [PK_ConsultaAnalisisPeriodo] PRIMARY KEY CLUSTERED 
(
	[IdConsultaAnalisisPeriodo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConsultaAnalisisEntidad]    Script Date: 06/28/2015 13:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConsultaAnalisisEntidad](
	[IdConsultaAnalisisEntidad] [bigint] IDENTITY(1,1) NOT NULL,
	[IdConsultaAnalisis] [bigint] NOT NULL,
	[idEmpresa] [bigint] NULL,
	[NombreEntidad] [varchar](50) NULL,
 CONSTRAINT [PK_ConsultaAnalisisEntidad] PRIMARY KEY CLUSTERED 
(
	[IdConsultaAnalisisEntidad] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConsultaAnalisisConcepto]    Script Date: 06/28/2015 13:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConsultaAnalisisConcepto](
	[IdConsultaAnalisisConcepto] [bigint] IDENTITY(1,1) NOT NULL,
	[IdConsultaAnalisis] [bigint] NOT NULL,
	[idConcepto] [varchar](500) NOT NULL,
	[descripcionConcepto] [varchar](4000) NULL,
 CONSTRAINT [PK_ConsultaAnalisisConcepto] PRIMARY KEY CLUSTERED 
(
	[IdConsultaAnalisisConcepto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fideicomiso](
	[IdFideicomiso] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [bigint] NOT NULL,
	[ClaveFideicomiso] [varchar](500) NOT NULL,
	[Descripcion] [varchar](1000) NULL,
 CONSTRAINT [PK_Fideicomiso] PRIMARY KEY CLUSTERED 
(
	[IdFideicomiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Fideicomiso]  WITH CHECK ADD  CONSTRAINT [FK_FideicomisoEmpresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Fideicomiso] CHECK CONSTRAINT [FK_FideicomisoEmpresa]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[TipoEmpresa] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoEmpresa](
	[IdTipoEmpresa] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_TipoEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdTipoEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmpresaTipoEmpresa] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmpresaTipoEmpresa](
	[IdEmpresa] [bigint] NOT NULL,
	[IdTipoEmpresa] [bigint] NOT NULL,
 CONSTRAINT [PK_EmpresaTipoEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC, [IdTipoEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EmpresaTipoEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaTipoEmpresa_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmpresaTipoEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaTipoEmpresa_TipoEmpresa] FOREIGN KEY([IdTipoEmpresa])
REFERENCES [dbo].[TipoEmpresa] ([IdTipoEmpresa]) ON DELETE CASCADE
GO
/****** Object:  Table [dbo].[TipoRelacionEmpresa] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoRelacionEmpresa](
	[IdTipoRelacionEmpresa] [bigint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NULL,
 CONSTRAINT [PK_TipoRelacionEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdTipoRelacionEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RelacionEmpresas] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RelacionEmpresas](
    [IdTipoRelacionEmpresa] [bigint] NOT NULL,
	[IdEmpresaPrimaria] [bigint] NOT NULL,
	[IdEmpresaSecundaria] [bigint] NOT NULL,
	[Parametros][varchar](4000) NULL,
 CONSTRAINT [PK_RelacionEmpresas] PRIMARY KEY CLUSTERED 
(
	[IdTipoRelacionEmpresa] ASC, [IdEmpresaPrimaria] ASC, [IdEmpresaSecundaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RelacionEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_RelacionEmpresas_Tipo] FOREIGN KEY([IdTipoRelacionEmpresa])
REFERENCES [dbo].[TipoRelacionEmpresa] ([IdTipoRelacionEmpresa])
GO
ALTER TABLE [dbo].[RelacionEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_RelacionEmpresas_Primaria] FOREIGN KEY([IdEmpresaPrimaria])
REFERENCES [dbo].[Empresa] ([IdEmpresa]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RelacionEmpresas]  WITH CHECK ADD  CONSTRAINT [FK_RelacionEmpresas_Secundaria] FOREIGN KEY([IdEmpresaSecundaria]) 
REFERENCES [dbo].[Empresa] ([IdEmpresa]) ON DELETE CASCADE
GO
/****** Object:  Table [dbo].[TipoEmpresaTaxonomiaXbrl] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoEmpresaTaxonomiaXbrl](
    [IdTipoEmpresa] [bigint] NOT NULL,
	[IdTaxonomiaXbrl] [bigint] NOT NULL,
 CONSTRAINT [PK_TipoEmpresaTaxonomiaXbrl] PRIMARY KEY CLUSTERED 
(
	[IdTipoEmpresa] ASC, [IdTaxonomiaXbrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TipoEmpresaTaxonomiaXbrl]  WITH CHECK ADD  CONSTRAINT [FK_TipoEmpresaTaxonomia_Tipo] FOREIGN KEY([IdTipoEmpresa])
REFERENCES [dbo].[TipoEmpresa] ([IdTipoEmpresa])  ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TipoEmpresaTaxonomiaXbrl]  WITH CHECK ADD  CONSTRAINT [FK_TipoEmpresaTaxonomia_Taxonomia] FOREIGN KEY([IdTaxonomiaXbrl])
REFERENCES [dbo].[TaxonomiaXbrl] ([IdTaxonomiaXbrl])  ON DELETE CASCADE
GO
/****** Object:  Table [dbo].[Parametro] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ParametroSistema](
    [IdParametroSistema] [bigint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Valor] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_ParametroSistema] PRIMARY KEY CLUSTERED 
(
	[IdParametroSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ParametroSistema] WITH CHECK ADD  CONSTRAINT [UC_PARAMETRO_SIS_NOMBRE] UNIQUE ([Nombre])
GO
/****** Object:  Table [dbo].[ListaNotificacion] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ListaNotificacion](
	[IdListaNotificacion] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[TituloMensaje] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ListaNotificacion] PRIMARY KEY CLUSTERED 
(
	[IdListaNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ListaNotificacion] WITH CHECK ADD  CONSTRAINT [UC_LIS_NOTIFICACION_NOMBRE] UNIQUE ([Nombre])
GO
/****** Object:  Table [dbo].[DestinatarioNotificacion] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DestinatarioNotificacion](
	[IdDestinatarioNotificacion] [bigint] IDENTITY(1,1) NOT NULL,
	[IdListaNotificacion] [bigint],
	[Nombre] [varchar](500) NOT NULL,
	[CorreoElectronico] [varchar](400) NOT NULL,
 CONSTRAINT [PK_DestinatarioNotificacion] PRIMARY KEY CLUSTERED 
(
	[IdDestinatarioNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DestinatarioNotificacion]  WITH CHECK ADD  CONSTRAINT [FK_Destinatario_Lista_Notificacion] FOREIGN KEY([IdListaNotificacion])
REFERENCES [dbo].[ListaNotificacion] ([IdListaNotificacion]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DestinatarioNotificacion] WITH CHECK ADD  CONSTRAINT [UC_Dest_Lista_Notificacion] UNIQUE ([IdListaNotificacion],[CorreoElectronico])
GO
/****** Object:  Index [IX_IdConcepto]    Script Date: 07/06/2015 03:19:42 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_IdConcepto] ON [dbo].[Hecho]
(
	[IdConcepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdContexto]    Script Date: 07/06/2015 03:19:42 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_IdContexto] ON [dbo].[Hecho]
(
	[IdContexto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdDocumentoInstancia]    Script Date: 07/06/2015 03:19:42 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_IdDocumentoInstancia] ON [dbo].[Hecho]
(
	[IdDocumentoInstancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdUnidad]    Script Date: 07/06/2015 03:19:42 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_IdUnidad] ON [dbo].[Hecho]
(
	[IdUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraVersionDocumento]    Script Date: 11/11/2015 20:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BitacoraVersionDocumento](
	[IdBitacoraVersionDocumento] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDocumentoInstancia] [bigint] NOT NULL,
	[IdVersionDocumentoInstancia] [bigint] NOT NULL,
	[Estatus] [int] NOT NULL,
	[MensajeError] [varchar](max) NULL,
	[Empresa] [varchar](50) NULL,
	[Usuario] [varchar](50) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaUltimaModificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_BitacoraVersionDocumento] PRIMARY KEY CLUSTERED 
(
	[IdBitacoraVersionDocumento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[BitacoraDistribucionDocumento] ******/
CREATE TABLE [dbo].[BitacoraDistribucionDocumento](
	[IdBitacoraDistribucionDocumento] [bigint] IDENTITY(1,1) NOT NULL,
	[IdBitacoraVersionDocumento] [bigint] NOT NULL,
	[CveDistribucion] [varchar](100) NOT NULL,
	[Estatus] [int] NOT NULL,
	[MensajeError] [varchar](max) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaUltimaModificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_BitacoraDistribucionDocumento] PRIMARY KEY CLUSTERED 
(
	[IdBitacoraDistribucionDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[BitacoraDistribucionDocumento]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraDistribucionDocumento_BitacoraVersionDocumento] FOREIGN KEY([IdBitacoraVersionDocumento])
REFERENCES [dbo].[BitacoraVersionDocumento] ([IdBitacoraVersionDocumento])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[BitacoraDistribucionDocumento] CHECK CONSTRAINT [FK_BitacoraDistribucionDocumento_BitacoraVersionDocumento]
GO

CREATE NONCLUSTERED INDEX [INDEX_BitacoraVersionDocumentoEstatus] ON [dbo].[BitacoraVersionDocumento] 
(
	[Estatus] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[BitacoraVersionDocumento]  WITH CHECK ADD CONSTRAINT [FK_Bitac_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BitacoraVersionDocumento]  WITH CHECK ADD CONSTRAINT [FK_Bitac_VersionDoc] FOREIGN KEY([IdVersionDocumentoInstancia])
REFERENCES [dbo].[VersionDocumentoInstancia] ([IdVersionDocumentoInstancia])
GO

/****** Object:  Table [dbo].[TipoEmpresa] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoEmpresa](
	[IdTipoEmpresa] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_TipoEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdTipoEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmpresaTipoEmpresa] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmpresaTipoEmpresa](
	[IdEmpresa] [bigint] NOT NULL,
	[IdTipoEmpresa] [bigint] NOT NULL,
 CONSTRAINT [PK_EmpresaTipoEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC, [IdTipoEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EmpresaTipoEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaTipoEmpresa_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[EmpresaTipoEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaTipoEmpresa_TipoEmpresa] FOREIGN KEY([IdTipoEmpresa])
REFERENCES [dbo].[TipoEmpresa] ([IdTipoEmpresa])
GO

/****** Object:  Table [dbo].[GrupoEmpresa] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GrupoEmpresa](
	[IdGrupoEmpresa] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](500) NULL,
 CONSTRAINT [PK_GrupoEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdGrupoEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO


/****** Object:  Table [dbo].[EmpresaGrupoEmpresa] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmpresaGrupoEmpresa](
	[IdEmpresa] [bigint] NOT NULL,
	[IdGrupoEmpresa] [bigint] NOT NULL,
 CONSTRAINT [PK_EmpresaGrupoEmpresa] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC, [IdGrupoEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EmpresaGrupoEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaGrupoEmpresa_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])  ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmpresaGrupoEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_EmpresaGrupoEmpresa_Grupo] FOREIGN KEY([IdGrupoEmpresa])
REFERENCES [dbo].[GrupoEmpresa] ([IdGrupoEmpresa]) ON DELETE CASCADE
GO
/*********************************************************************************************************************************/

ALTER TABLE [dbo].[CategoriaFacultad] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[DocumentoInstancia] ADD  CONSTRAINT [DF_DocumentoInstancia_EsCorrecto]  DEFAULT ((0)) FOR [EsCorrecto]
GO
ALTER TABLE [dbo].[DocumentoInstancia] ADD  CONSTRAINT [DF_DocumentoInstancia_Bloqueado]  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Facultad] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[VersionDocumentoInstancia] ADD  CONSTRAINT [DF_VersionDocumentoInstancia_EsCorrecto]  DEFAULT ((0)) FOR [EsCorrecto]
GO
ALTER TABLE [dbo].[Alerta]  WITH CHECK ADD  CONSTRAINT [FK_Alerta_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alerta] CHECK CONSTRAINT [FK_Alerta_DocumentoInstancia]
GO
ALTER TABLE [dbo].[ArchivoTaxonomiaXbrl]  WITH CHECK ADD  CONSTRAINT [FK_ArchivoTaxonomiaXbrl_TaxonomiaXbrl] FOREIGN KEY([IdTaxonomiaXbrl])
REFERENCES [dbo].[TaxonomiaXbrl] ([IdTaxonomiaXbrl])
GO
ALTER TABLE [dbo].[ArchivoTaxonomiaXbrl] CHECK CONSTRAINT [FK_ArchivoTaxonomiaXbrl_TaxonomiaXbrl]
GO
ALTER TABLE [dbo].[Contexto]  WITH NOCHECK ADD  CONSTRAINT [FK_Contexto_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contexto] CHECK CONSTRAINT [FK_Contexto_DocumentoInstancia]
GO
ALTER TABLE [dbo].[DocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_DocumentoInstancia_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[DocumentoInstancia] CHECK CONSTRAINT [FK_DocumentoInstancia_Empresa]
GO
ALTER TABLE [dbo].[DocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_DocumentoInstancia_Usuario_Ult] FOREIGN KEY([IdUsuarioUltMod])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[DocumentoInstancia] CHECK CONSTRAINT [FK_DocumentoInstancia_Usuario_Ult]
GO
ALTER TABLE [dbo].[DtsDocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_DtsDocumentoInstancia_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DtsDocumentoInstancia] CHECK CONSTRAINT [FK_DtsDocumentoInstancia_DocumentoInstancia]
GO
ALTER TABLE [dbo].[Facultad]  WITH CHECK ADD  CONSTRAINT [FK_Facultad_CategoriaFacultad] FOREIGN KEY([IdCategoriaFacultad])
REFERENCES [dbo].[CategoriaFacultad] ([IdCategoriaFacultad])
GO
ALTER TABLE [dbo].[Facultad] CHECK CONSTRAINT [FK_Facultad_CategoriaFacultad]
GO
ALTER TABLE [dbo].[GrupoUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_GrupoUsuarios_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[GrupoUsuarios] CHECK CONSTRAINT [FK_GrupoUsuarios_Empresa]
GO
ALTER TABLE [dbo].[GrupoUsuariosRol]  WITH CHECK ADD  CONSTRAINT [FK_GrupoUsuariosRol_GrupoUsuarios] FOREIGN KEY([IdGrupoUsuario])
REFERENCES [dbo].[GrupoUsuarios] ([IdGrupoUsuarios])
GO
ALTER TABLE [dbo].[GrupoUsuariosRol] CHECK CONSTRAINT [FK_GrupoUsuariosRol_GrupoUsuarios]
GO
ALTER TABLE [dbo].[GrupoUsuariosRol]  WITH CHECK ADD  CONSTRAINT [FK_GrupoUsuariosRol_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[GrupoUsuariosRol] CHECK CONSTRAINT [FK_GrupoUsuariosRol_Rol]
GO
ALTER TABLE [dbo].[Hecho]  WITH NOCHECK ADD  CONSTRAINT [FK_Hecho_Contexto] FOREIGN KEY([IdContexto])
REFERENCES [dbo].[Contexto] ([IdContexto])
GO
ALTER TABLE [dbo].[Hecho] CHECK CONSTRAINT [FK_Hecho_Contexto]
GO
ALTER TABLE [dbo].[Hecho]  WITH NOCHECK ADD  CONSTRAINT [FK_Hecho_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hecho] CHECK CONSTRAINT [FK_Hecho_DocumentoInstancia]
GO
ALTER TABLE [dbo].[Hecho]  WITH CHECK ADD  CONSTRAINT [FK_Hecho_TipoDato] FOREIGN KEY([IdTipoDato])
REFERENCES [dbo].[TipoDato] ([IdTipoDato])
GO
ALTER TABLE [dbo].[Hecho] CHECK CONSTRAINT [FK_Hecho_TipoDato]
GO
ALTER TABLE [dbo].[Hecho]  WITH NOCHECK ADD  CONSTRAINT [FK_Hecho_Unidad] FOREIGN KEY([IdUnidad])
REFERENCES [dbo].[Unidad] ([IdUnidad])
GO
ALTER TABLE [dbo].[Hecho] CHECK CONSTRAINT [FK_Hecho_Unidad]
GO
ALTER TABLE [dbo].[NotaAlPie]  WITH NOCHECK ADD  CONSTRAINT [FK_NotaAlPie_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotaAlPie] CHECK CONSTRAINT [FK_NotaAlPie_DocumentoInstancia]
GO
ALTER TABLE [dbo].[RegistroAuditoria]  WITH CHECK ADD  CONSTRAINT [FK_RegistroAuditoria_AccionAuditable] FOREIGN KEY([IdAccionAuditable])
REFERENCES [dbo].[AccionAuditable] ([IdAccionAuditable])
GO
ALTER TABLE [dbo].[RegistroAuditoria] CHECK CONSTRAINT [FK_RegistroAuditoria_AccionAuditable]
GO
ALTER TABLE [dbo].[RegistroAuditoria]  WITH CHECK ADD  CONSTRAINT [FK_RegistroAuditoria_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[RegistroAuditoria] CHECK CONSTRAINT [FK_RegistroAuditoria_Empresa]
GO
ALTER TABLE [dbo].[RegistroAuditoria]  WITH CHECK ADD  CONSTRAINT [FK_RegistroAuditoria_Modulo] FOREIGN KEY([IdModulo])
REFERENCES [dbo].[Modulo] ([IdModulo])
GO
ALTER TABLE [dbo].[RegistroAuditoria] CHECK CONSTRAINT [FK_RegistroAuditoria_Modulo]
GO
ALTER TABLE [dbo].[RegistroAuditoria]  WITH CHECK ADD  CONSTRAINT [FK_RegistroAuditoria_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[RegistroAuditoria] CHECK CONSTRAINT [FK_RegistroAuditoria_Usuario]
GO
ALTER TABLE [dbo].[Rol]  WITH CHECK ADD  CONSTRAINT [FK_Rol_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Rol] CHECK CONSTRAINT [FK_Rol_Empresa]
GO
ALTER TABLE [dbo].[RolFacultad]  WITH NOCHECK ADD  CONSTRAINT [FK_RolFacultad_Facultad1] FOREIGN KEY([IdFacultad])
REFERENCES [dbo].[Facultad] ([IdFacultad])
GO
ALTER TABLE [dbo].[RolFacultad] CHECK CONSTRAINT [FK_RolFacultad_Facultad1]
GO
ALTER TABLE [dbo].[RolFacultad]  WITH NOCHECK ADD  CONSTRAINT [FK_RolFacultad_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[RolFacultad] CHECK CONSTRAINT [FK_RolFacultad_Rol]
GO
ALTER TABLE [dbo].[Unidad]  WITH CHECK ADD  CONSTRAINT [FK_Unidad_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Unidad] CHECK CONSTRAINT [FK_Unidad_DocumentoInstancia]
GO
ALTER TABLE [dbo].[UsuarioDocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioDocumentoInstancia_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioDocumentoInstancia] CHECK CONSTRAINT [FK_UsuarioDocumentoInstancia_DocumentoInstancia]
GO
ALTER TABLE [dbo].[UsuarioDocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioDocumentoInstancia_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioDocumentoInstancia] CHECK CONSTRAINT [FK_UsuarioDocumentoInstancia_Usuario]
GO
ALTER TABLE [dbo].[UsuarioEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEmpresa_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[UsuarioEmpresa] CHECK CONSTRAINT [FK_UsuarioEmpresa_Empresa]
GO
ALTER TABLE [dbo].[UsuarioEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEmpresa_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioEmpresa] CHECK CONSTRAINT [FK_UsuarioEmpresa_Usuario]
GO
ALTER TABLE [dbo].[UsuarioGrupo]  WITH NOCHECK ADD  CONSTRAINT [FK_UsuarioGrupo_GrupoUsuarios] FOREIGN KEY([IdGrupoUsuarios])
REFERENCES [dbo].[GrupoUsuarios] ([IdGrupoUsuarios])
GO
ALTER TABLE [dbo].[UsuarioGrupo] CHECK CONSTRAINT [FK_UsuarioGrupo_GrupoUsuarios]
GO
ALTER TABLE [dbo].[UsuarioGrupo]  WITH NOCHECK ADD  CONSTRAINT [FK_UsuarioGrupo_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioGrupo] CHECK CONSTRAINT [FK_UsuarioGrupo_Usuario]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
ALTER TABLE [dbo].[VersionDocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_VersionDocumentoInstancia_DocumentoInstancia] FOREIGN KEY([IdDocumentoInstancia])
REFERENCES [dbo].[DocumentoInstancia] ([IdDocumentoInstancia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VersionDocumentoInstancia] CHECK CONSTRAINT [FK_VersionDocumentoInstancia_DocumentoInstancia]
GO
ALTER TABLE [dbo].[VersionDocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_VersionDocumentoInstancia_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa] ([IdEmpresa])
GO
ALTER TABLE [dbo].[VersionDocumentoInstancia] CHECK CONSTRAINT [FK_VersionDocumentoInstancia_Empresa]
GO
ALTER TABLE [dbo].[VersionDocumentoInstancia]  WITH CHECK ADD  CONSTRAINT [FK_VersionDocumentoInstancia_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[VersionDocumentoInstancia] CHECK CONSTRAINT [FK_VersionDocumentoInstancia_Usuario]
GO
ALTER TABLE [dbo].[ConsultaAnalisisConcepto]  WITH CHECK ADD  CONSTRAINT [FK_ConsultaAnalisisConcepto_Consulta] FOREIGN KEY([IdConsultaAnalisis])
REFERENCES [dbo].[ConsultaAnalisis] ([IdConsultaAnalisis])
GO
ALTER TABLE [dbo].[ConsultaAnalisisConcepto] CHECK CONSTRAINT [FK_ConsultaAnalisisConcepto_Consulta]
GO
ALTER TABLE [dbo].[ConsultaAnalisisEntidad]  WITH CHECK ADD  CONSTRAINT [FK_ConsultaAnalisisEntidad_Consulta] FOREIGN KEY([IdConsultaAnalisis])
REFERENCES [dbo].[ConsultaAnalisis] ([IdConsultaAnalisis])
GO
ALTER TABLE [dbo].[ConsultaAnalisisEntidad] CHECK CONSTRAINT [FK_ConsultaAnalisisEntidad_Consulta]
GO
ALTER TABLE [dbo].[ConsultaAnalisisPeriodo]  WITH CHECK ADD  CONSTRAINT [FK_ConsultaAnalisisPeriodo_Consulta] FOREIGN KEY([IdConsultaAnalisis])
REFERENCES [dbo].[ConsultaAnalisis] ([IdConsultaAnalisis])
GO
ALTER TABLE [dbo].[ConsultaAnalisisPeriodo] CHECK CONSTRAINT [FK_ConsultaAnalisisPeriodo_Consulta]
GO
ALTER TABLE [Empresa] ADD CONSTRAINT [UC_Emp_NombreCorto] UNIQUE ([NombreCorto])
GO

SET ANSI_PADDING OFF
GO

SET IDENTITY_INSERT [dbo].[Empresa] ON
INSERT [dbo].[Empresa] ([IdEmpresa], [RazonSocial], [NombreCorto], [RFC], [DomicilioFiscal], [Borrado]) VALUES (1, N'Grupo ALCON SA de CV', N'ALCON', N'GOFE860831EX1', N'Domicilio', 0)
SET IDENTITY_INSERT [dbo].[Empresa] OFF

SET IDENTITY_INSERT [dbo].[Usuario] ON
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [CorreoElectronico], [Password], [HistoricoPassword], [VigenciaPassword], [IntentosErroneosLogin], [Bloqueado], [Activo], [Puesto], [Borrado]) VALUES (3, N'Administrador', N'Administrador', N'Administrador', N'admin@admin.com', N'76DCD53F4765203853F14B107D393B3910105A20b9k5iIg=', N'76DCD53F4765203853F14B107D393B3910105A20b9k5iIg=', CAST(0xDD390B00 AS Date), 0, 0, 1, N'Administrador', 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF

SET IDENTITY_INSERT [dbo].[UsuarioEmpresa] ON
INSERT [dbo].[UsuarioEmpresa] ([IdUsuarioEmpresa], [IdUsuario], [IdEmpresa]) VALUES (133, 3, 1)
SET IDENTITY_INSERT [dbo].[UsuarioEmpresa] OFF

SET IDENTITY_INSERT [dbo].[Rol] ON
INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion], [IdEmpresa], [Borrado]) VALUES (93, N'Administrador General', N'Rol con todos los privilegios de Abax XBRL', 1, 0)
INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion], [IdEmpresa], [Borrado]) VALUES (104, N'Administrador', N'Administrador con restricciones de creación de Empresas, Roles, Grupos, Usuarios, Usuarios Empresa', 1, 0)
INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion], [IdEmpresa], [Borrado]) VALUES (10124, N'Usuario Negocio', N'Rol con privilegios para el Tablero de Control,  Editor XBRL', 1, 0)
--INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion], [IdEmpresa], [Borrado]) VALUES (10126, N'Usuario Consultas Especializadas', N'Rol con privilegios para el uso de consultas personalizadas y especializadas.', 1, 0)
SET IDENTITY_INSERT [dbo].[Rol] OFF

SET IDENTITY_INSERT [dbo].[UsuarioRol] ON
INSERT [dbo].[UsuarioRol] ([IdUsuarioRol], [IdUsuario], [IdRol]) VALUES (10063, 3, 93)
INSERT [dbo].[UsuarioRol] ([IdUsuarioRol], [IdUsuario], [IdRol]) VALUES (10064, 3, 10124)
SET IDENTITY_INSERT [dbo].[UsuarioRol] OFF

SET IDENTITY_INSERT [dbo].[CategoriaFacultad] ON
INSERT [dbo].[CategoriaFacultad] ([IdCategoriaFacultad], [Nombre], [Descripcion], [Borrado]) VALUES (1, N'Facultades Usuarios ', N'Categoria de Facultades de Modulo Usuario', 0)
INSERT [dbo].[CategoriaFacultad] ([IdCategoriaFacultad], [Nombre], [Descripcion], [Borrado]) VALUES (2, N'Facultades Roles', N'Categoria de Facultades de Modulo Roles', 0)
INSERT [dbo].[CategoriaFacultad] ([IdCategoriaFacultad], [Nombre], [Descripcion], [Borrado]) VALUES (3, N'Facultades Empresas', N'Categoria de Facultades de Modulo Empresa', 0)
SET IDENTITY_INSERT [dbo].[CategoriaFacultad] OFF

SET ANSI_PADDING OFF
GO
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) VALUES (1, N'Insertar Usuario', N'Facultad para Insertar Usuarios', 1, 0)
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) VALUES (2, N'Editar Usuario', N'Facultad para Editar Usuarios', 1, 0)
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) VALUES (3, N'Eliminar Usuario', N'Facultad para Eliminar Usuarios', 1, 0)
--INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) VALUES (65, N'Consultas de análisis', N'Consultas de análisis.', 6, 0)
--INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) VALUES (66, N'Consultas personalizadas', N'Consultas personalizadas.', 6, 0)
--INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) VALUES (200, N'Visor generico', N'Facultad para acceder al visor generico para comparar documentos.', 6, 0)


SET IDENTITY_INSERT [dbo].[RolFacultad] ON
INSERT [dbo].[RolFacultad] ([IdRolFacultad], [IdRol], [IdFacultad]) VALUES (1099, 93, 4)
INSERT [dbo].[RolFacultad] ([IdRolFacultad], [IdRol], [IdFacultad]) VALUES (1100, 93, 5)
INSERT [dbo].[RolFacultad] ([IdRolFacultad], [IdRol], [IdFacultad]) VALUES (1101, 93, 6)
GO
print 'Processed 200 total records'
--INSERT [dbo].[RolFacultad] ([IdRolFacultad], [IdRol], [IdFacultad]) VALUES (11196, 10126, 65)
--INSERT [dbo].[RolFacultad] ([IdRolFacultad], [IdRol], [IdFacultad]) VALUES (11197, 10126, 66)
--INSERT [dbo].[RolFacultad] ([IdRolFacultad], [IdRol], [IdFacultad]) VALUES (11198, 10126, 200)
SET IDENTITY_INSERT [dbo].[RolFacultad] OFF

SET IDENTITY_INSERT [dbo].[TaxonomiaXbrl] ON
INSERT [dbo].[TaxonomiaXbrl] ([IdTaxonomiaXbrl], [Nombre], [Descripcion], [Anio]) VALUES (1, N'IFRS BMV 2013', N'Taxonomía IFRS de la BMV 2013', 2013)
INSERT [dbo].[TaxonomiaXbrl] ([IdTaxonomiaXbrl], [Nombre], [Descripcion], [Anio]) VALUES (2, N'IFRS BMV 2015 para ICS', N'Taxonomía IFRS de la BMV 2015 para Empresas Comerciales y de Servicios', 2015)
INSERT [dbo].[TaxonomiaXbrl] ([IdTaxonomiaXbrl], [Nombre], [Descripcion], [Anio]) VALUES (3, N'IFRS BMV 2015 para SAPIB', N'Taxonomía IFRS de la BMV 2015 para Empresas de Sociedad Anónima Promotora de Inversión Bursátil', 2015)
SET IDENTITY_INSERT [dbo].[TaxonomiaXbrl] OFF


SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ArchivoTaxonomiaXbrl] ON
INSERT [dbo].[ArchivoTaxonomiaXbrl] ([IdArchivoTaxonomiaXbrl], [IdTaxonomiaXbrl], [TipoReferencia], [Href], [Rol], [RolUri]) VALUES (1, 1, 1, N'http://emisnet.bmv.com.mx/taxonomy/mx-ifrs-ics-2012-04-01/All/ifrs-mx-ics-entryPoint-all-2012-04-01.xsd', NULL, NULL)
INSERT [dbo].[ArchivoTaxonomiaXbrl] ([IdArchivoTaxonomiaXbrl], [IdTaxonomiaXbrl], [TipoReferencia], [Href], [Rol], [RolUri]) VALUES (2, 2, 1, N'http://emisnet.bmv.com.mx/taxonomy/mx-ifrs-2014-12-05/full_ifrs_mc_mx_ics_entry_point_2014-12-05.xsd', NULL, NULL)
INSERT [dbo].[ArchivoTaxonomiaXbrl] ([IdArchivoTaxonomiaXbrl], [IdTaxonomiaXbrl], [TipoReferencia], [Href], [Rol], [RolUri]) VALUES (3, 3, 1, N'http://emisnet.bmv.com.mx/taxonomy/mx-ifrs-2014-12-05/full_ifrs_mc_mx_sapib_entry_point_2014-12-05.xsd', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ArchivoTaxonomiaXbrl] OFF

SET ANSI_PADDING OFF
GO
INSERT [dbo].[TipoDato] ([IdTipoDato], [Nombre], [EsNumerico], [EsFraccion], [NombreXbrl]) VALUES (1, N'http://www.xbrl.org/2003/instance:decimalItemType', 1, 0, N'decimal')
INSERT [dbo].[TipoDato] ([IdTipoDato], [Nombre], [EsNumerico], [EsFraccion], [NombreXbrl]) VALUES (2, N'http://www.xbrl.org/2003/instance:floatItemType', 1, 0, N'float')
INSERT [dbo].[TipoDato] ([IdTipoDato], [Nombre], [EsNumerico], [EsFraccion], [NombreXbrl]) VALUES (3, N'http://www.xbrl.org/2003/instance:doubleItemType', 1, 0, N'double')

SET IDENTITY_INSERT [dbo].[AccionAuditable] ON
INSERT [dbo].[AccionAuditable] ([IdAccionAuditable], [Nombre], [Descripcion]) VALUES (1, N'Login', N'Acción auditable del registro de la autenticación de los usuarios en el sitio')
INSERT [dbo].[AccionAuditable] ([IdAccionAuditable], [Nombre], [Descripcion]) VALUES (2, N'Insertar', N'Accion auditable de inserciones  en la aplicacion')
INSERT [dbo].[AccionAuditable] ([IdAccionAuditable], [Nombre], [Descripcion]) VALUES (3, N'Actualizar', N'Accion auditable de actualizaciones  en la aplicacion')

SET IDENTITY_INSERT [dbo].[AccionAuditable] OFF

SET IDENTITY_INSERT [dbo].[Modulo] ON
INSERT [dbo].[Modulo] ([IdModulo], [Nombre], [Descripcion]) VALUES (1, N'Login', N'Modulo del acceso del sitio')
INSERT [dbo].[Modulo] ([IdModulo], [Nombre], [Descripcion]) VALUES (2, N'Usuarios', N'Modulo Administracion de Usuarios')
INSERT [dbo].[Modulo] ([IdModulo], [Nombre], [Descripcion]) VALUES (3, N'Empresa', N'Modulo Administracion de Empresas')
SET IDENTITY_INSERT [dbo].[Modulo] OFF

UPDATE [TaxonomiaXbrl] SET [EspacioNombresPrincipal] = 'http://www.bmv.com.mx/fr/ics/2012-04-01/ifrs-mx-ics-entryPoint-all'
WHERE [Nombre] = 'IFRS BMV 2013'
;

UPDATE [TaxonomiaXbrl] SET [EspacioNombresPrincipal] = 'http://www.bmv.com.mx/taxonomy/ifrs_mx/full_ifrs_mc_mx_ics_entry_point_2014-12-05'
WHERE [Nombre] = 'IFRS BMV 2015 para ICS'
;

UPDATE [TaxonomiaXbrl] SET [EspacioNombresPrincipal] = 'http://www.bmv.com.mx/taxonomy/ifrs_mx/full_ifrs_mc_mx_sapib_entry_point_2014-12-05'
WHERE [Nombre] = 'IFRS BMV 2015 para SAPIB'
;

UPDATE [TaxonomiaXbrl] SET [EspacioNombresPrincipal] = 'http://www.bmv.com.mx/taxonomy/ifrs_mx/full_ifrs_mc_mx_cp_entry_point_2014-12-05'
WHERE [Nombre] = 'IFRS BMV 2015 para Corto Plazo'
;

UPDATE [TaxonomiaXbrl] SET [EspacioNombresPrincipal] = 'http://www.bmv.com.mx/taxonomy/ifrs_mx/full_ifrs_mc_mx_fibras_entry_point_2014-12-05'
WHERE [Nombre] = 'IFRS BMV 2015 para FIBRAS'
;
/** Insertamos los tipos de relaciones de empresas **/

INSERT INTO [dbo].[TipoRelacionEmpresa]([IdTipoRelacionEmpresa], [Nombre],[Descripcion]) (SELECT 1, 'Fiduciario de Fideicomitente', 'Relaciona un fideuciario con un Fideicomitente' WHERE NOT EXISTS (SELECT [IdTipoRelacionEmpresa] FROM [TipoRelacionEmpresa] WHERE [IdTipoRelacionEmpresa] = 1))

/*** Insertamos las nuevas facultades **/

INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 500, N'Consultar Listado Tipos Empresas', N'Facultad para consultar tipos de empresa.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	500))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 501, N'Exportar Listado TiposEmpresa', N'Facultad para exportar los tipos de empresa.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	501))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 502, N'Insertar Tipo Empresa', N'Facultad para un nuevo tipo de empresa.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	502))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 503, N'Editar Tipo Empresa', N'Facultad para editar los datos de un tipo de empresa.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	503))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 504, N'Eliminar Tipo Empresa', N'Facultad para eliminar los tipos de empresa.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	504))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 505, N'Consultar Taxonomías', N'Facultad consultar las taxonomías.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	505))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 506, N'Exportar Taxonomías', N'Facultad para exportar las taxonomías.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	506))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 507, N'Insertar Taxonomías', N'Facultad para insratar una nueva taxonomía.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	507))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 508, N'Editar Taxonomías', N'Facultad para ediar los valores de una taxonomía.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	508))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 509, N'Eliminar Taxonomías', N'Facultad para eliminar las taxonomías.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	509))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 510, N'Activar Desactivar Taxonomía', N'Facultad para activar o desactivar las taxonomías.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	510))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 511, N'Consultar Listado Grupo Empresas', N'Facultad para consultar los grupos de empresas.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	511))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 512, N'Exportar Listado Grupo Empresa', N'Facultad para exportar los grupos de empresa.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	512))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 513, N'Insertar Grupo Empresa', N'Facultad para un nuevo grupo de empresas.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	513))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 514, N'Editar Grupo Empresa', N'Facultad para editar los datos de un grupo de empresas.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	514))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 515, N'Eliminar Grupo Empresa', N'Facultad para eliminar un grupo de empresas.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	515))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 516, N'Consultar Bitacora Version Documentos', N'Facultad para consultar la Bitacora de Versionamiento de Documentos.',6,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	516))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 517, N'Exportar Bitacora Version Documentos', N'Facultad para exportar la Bitacora de Versionamiento de Documentos.',6,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	517))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 518, N'Reprocesar Bitacora Version Documentos', N'Facultad enviar a reprocesar la Bitacora de Versionamiento de Documentos.',6,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	518))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 519, N'Asignar Tipo Empresa', N'Facultad asignar los tipos de empresa a las empresas.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	519))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 520, N'Asignar Taxonomia a Tipo Empresa', N'Facultad para asignar taxonomias a un tipo de empresa.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	520))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 521, N'Relacionar Fiduciario a Fideicomitente', N'Facultad para asingar fiduciario a un fideicomitente.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	521))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 522, N'Asignar Grupo Empresa', N'Facultad para asingar una empresa a un grupo de empresas.',3,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	522))

INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 523, N'Consultar Parametros Sistema', N'Facultad para consultar el listado de parametros del sistema.',9,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	523))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 524, N'Exportar Parametros Sistema', N'Facultad para exportar los parametros del sistema a un archivo.',9,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	524))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 525, N'Actualizar Parametros Sistema', N'Facultad para modificar el valor de los parametros del sistema.',9,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	525))

INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 526, N'Consultar Listas Notificación', N'Facultad para las listas de notificación de eventos.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	526))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 527, N'Exportar Listas Notificación', N'Facultad para exportar las listas de notificación a un archivo.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	527))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 528, N'Insertar Lista Notificación', N'Facultad para agregar una nueva lista de notificación.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	528))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 529, N'Editar Lista Notificación', N'Facultad para editar los datos de una lista de notificación.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	529))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 530, N'Eliminar Lista Notificación', N'Facultad para eliminar una lista de notificación.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	530))

INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 531, N'Consultar Destinatarios Notificación', N'Facultad para las listas de notificación de eventos.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	531))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 532, N'Exportar Destinatarios Notificación', N'Facultad para exportar los destinatarios de notificación.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	532))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 533, N'Insertar Destinatario Notificación', N'Facultad para agregar destinatarios a una lista de notificación.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	533))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 534, N'Editar Destinatario Notificación', N'Facultad para editar los datos de un destinatario de notificación.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	534))
INSERT [dbo].[Facultad] ([IdFacultad], [Nombre], [Descripcion], [IdCategoriaFacultad], [Borrado]) (SELECT 535, N'Eliminar Lista Notificación', N'Facultad para eliminar un destinatario de una lista de notificación.',10,0 WHERE NOT EXISTS(SELECT [IdFacultad] FROM [dbo].[Facultad] WHERE IdFacultad =	535))

GO
--INSERT [dbo].[CategoriaFacultad] ([IdCategoriaFacultad], [Nombre], [Descripcion], [Borrado]) VALUES (9, N'Facultades Sistema', N'Facultades para la administración de los Parametros generales del sistema', 0)
--INSERT [dbo].[CategoriaFacultad] ([IdCategoriaFacultad], [Nombre], [Descripcion], [Borrado]) VALUES (10, N'Facultades Notificacion', N'Facultades para la administración de las notificaciones del sistema', 0)

INSERT [dbo].[RolFacultad] ([IdRol], [IdFacultad]) (
	SELECT Rol.IdRol, Facultad.IdFacultad FROM Rol, Facultad WHERE Rol.Nombre = 'Administrador General' AND Facultad.IdFacultad >= 500 AND Facultad.IdFacultad < 600 AND NOT EXISTS (SELECT IdRolFacultad FROM RolFacultad WHERE IdRol = Rol.IdRol AND IdFacultad = Facultad.IdFacultad)
)
GO

INSERT [dbo].[ListaNotificacion] ([Nombre], [Descripcion] , [TituloMensaje]) (SELECT 'Error Envio STIV', 'A quienes se notifica en caso de error en el evnío del STIV.', 'Error en Envio STIV' WHERE NOT EXISTS (SELECT [IdListaNotificacion] FROM [ListaNotificacion] WHERE [Nombre] = 'Error Envio STIV'))
INSERT [dbo].[ListaNotificacion] ([Nombre], [Descripcion] , [TituloMensaje]) (SELECT 'Exito Envio STIV', 'A quienes se notifica en caso de exito en el evnío del STIV.', 'Exito en Envio STIV' WHERE NOT EXISTS (SELECT [IdListaNotificacion] FROM [ListaNotificacion] WHERE [Nombre] = 'Exito Envio STIV'))
GO

INSERT [dbo].[ParametroSistema] ([IdParametroSistema],[Nombre], [Descripcion],[Valor]) (SELECT 1, 'NumeroIntentosEnvioSTIV',    'Cantidad de intentos antes de desistir',                                  '5' WHERE NOT EXISTS (SELECT IdParametroSistema FROM [ParametroSistema] WHERE [IdParametroSistema] = 1))
INSERT [dbo].[ParametroSistema] ([IdParametroSistema],[Nombre], [Descripcion],[Valor]) (SELECT 2, 'ListaDistribucionErrorSTIV', 'Nombre de la lista de distribución a la que se notifican los errores.',   'Error Envio STIV' WHERE NOT EXISTS (SELECT IdParametroSistema FROM [ParametroSistema] WHERE [IdParametroSistema] = 2))
INSERT [dbo].[ParametroSistema] ([IdParametroSistema],[Nombre], [Descripcion],[Valor]) (SELECT 3, 'MaximosMensajesErrorSTIV',   'Máximo número de mensajes de error.',                                     '10' WHERE NOT EXISTS (SELECT IdParametroSistema FROM [ParametroSistema] WHERE [IdParametroSistema] = 3))
INSERT [dbo].[ParametroSistema] ([IdParametroSistema],[Nombre], [Descripcion],[Valor]) (SELECT 4, 'ListaDistribucionExitoSTIV', 'Nombre de la lista de distribución a la que se notifica en caso de exito','Exito Envio STIV' WHERE NOT EXISTS (SELECT IdParametroSistema FROM [ParametroSistema] WHERE [IdParametroSistema] = 4))
GO