<div class="panel-warning">
    <div class="modal-header panel-heading">
        <button type="button" class="close" aria-hidden="true" ng-click="aceptar()">×</button>
        <h4 class="modal-title">
            <i class="fa fa-exclamation-triangle"></i>
            &nbsp;
            {{'TITULO_PROMPT_ADVERTENCIA' | translate}}
        </h4>
    </div>
    <div class="modal-body">
        <p>{{'MENSAJE_WARNING_COOKIES_DESHABILITADAS' | translate}}</p>
        <p>{{'MENSAJE_WARNING_HABILITAR_COOKIES' | translate}}</p>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="aceptar()" translate="ETIQUETA_BOTON_ACEPTAR"></button>
    </div>
</div>