<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <sectionGroup name="spring">
		  <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
		  <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web" />
	  </sectionGroup>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

	  <sectionGroup name="common">
		  <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
	  </sectionGroup>

	  <section name="appProperties" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ForzarEsquemaHttp" value="true" />
  </appSettings>

	<appProperties>
		<add key="NPORT" value="25" />
		<add key="S_USERNAME" value="" />
		<add key="S_PASSWORD" value="" />
		<add key="S_HOST" value="mail.cnbv.gob.mx" />
		<add key="APLICA_SSL" value="false" />
		<add key="S_APP_MAIL" value="procesos_apc@cnbv.gob.mx" />
		<add key="IndicadorInicializarTaxonomias" value="false" />
		<add key="cronExpresionVersionDocumentoPendientes" value="0 0/5 * * * ?" />


		<!--Parámetros para las distribuciones de JSON-->
		<!--<add key="rutaAlmacenJson" value="C:\inetpub\wwwroot\visor\" />-->
		<add key="rutaAlmacenJson" value="C:\Users\Loyola\Documents\Workspace\AbaxXBRL\AbaxCNBV\TestAbaxXBRL\TestOutput\visor\" />
		<add key="nombreArchivoIndiceVisor" value="recepcionDocumentosInstancia.json" />

		<!--<add key="rutaAlmacenExcel" value="C:\inetpub\wwwroot\visor\excel\" />-->
		<!--<add key="rutaAlmacenPDF" value="C:\inetpub\wwwroot\visor\pdf\" />-->
		<add key="rutaAlmacenExcel" value="C:\Users\Loyola\Documents\Workspace\AbaxXBRL\AbaxCNBV\TestAbaxXBRL\TestOutput\excel\" />
		<add key="rutaAlmacenPDF" value="C:\Users\Loyola\Documents\Workspace\AbaxXBRL\AbaxCNBV\TestAbaxXBRL\TestOutput\pdf\" />
		<!--Configuración TIBCO para colas de mensajes-->
		<add key="tibcoServer" value="tcp://SR21VIHR03:10722" />
		<add key="usuarioTibco" value="tibappxbrl" />
		<add key="passwordTibco" value="t1bXBRL4Ppp" />
		<add key="nombreProcesarXBRLQueue" value="CNBV.BURSATIL.STIV.PROCESARXBRL.QUEUE.V1_0" />


		<!-- Informacion para la conexión a mongoDB-->
		<!--<add key="connectionStringMongoDB" value="mongodb://usrAbaxXbrl:usrAbaxXbrl@ds054298.mongolab.com:54298/abaxxbrl" />
    <add key="baseDatosMongoDB" value="abaxxbrl" />-->
		<add key="connectionStringMongoDB" value="mongodb://localhost/abaxxbrl" />
		<add key="baseDatosMongoDB" value="abaxxbrl" />

		<!-- Definicion de colecciones -->

		<add key="BlockStoreHecho" value="BlockStoreHecho" />
		<add key="BlockStoreDimension" value="BlockStoreDimension" />
		<add key="BlockStoreEmpresa" value="BlockStoreEmpresa" />
		<add key="BlockStoreUnidad" value="BlockStoreUnidad" />
		<add key="BlockStoreConcepto" value="BlockStoreConcepto" />
		<add key="NumeroMaximoConsumidores" value="10" />
    
    <!--Propiedades para la conexion Cell Store Big Data-->
    <add key="connectionStringBigDataCellStroe" value="mongodb://localhost/abaxxbrl_cellstore" />
    <add key="cellStoreDataBase" value="abaxxbrl_cellstore" />
	</appProperties>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TIBCO.EMS" publicKeyToken="5b83db8ff05c64ba" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.810.10" newVersion="1.0.810.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Data" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.45000" newVersion="2.0.1.45000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=prod2hsoftware.cloudapp.net\SQLSERVER2H;initial catalog=abax_xbrl_db_qa;persist security info=True;user id=abax_qa_user;password=2HsoFtw4R3$AbaX#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--<add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qa2hsoftware.southcentralus.cloudapp.azure.com;initial catalog=abax_cnbv_db;persist security info=True;user id=abax_integracion_xp_usr;password=2061M0wx2640wCT;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--<add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.132.14\SQLDESCS;initial catalog=StivXbrl;persist security info=True;user id=idstivxbrl;password=89wsa9e.34;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qa2hsoftware.southcentralus.cloudapp.azure.com;initial catalog=abax_cnbv_db;persist security info=True;user id=abax_integracion_xp_usr;password=2061M0wx2640wCT;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
