<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancelar()">×</button> 
    <h4 class="modal-title">{{'TITULO_PROMPT_ELIMINAR_BITACORA' | translate}}</h4>
</div>
<div class="modal-body">
    <p>{{'ETIQUETA_PROMPT_ELIMINAR_BITACORA' | translate}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancelar()">{{'ETIQUETA_BOTON_CANCELAR' | translate}}</button>
    <button class="btn btn-primary" ng-click="eliminarRegistros()">{{'ETIQUETA_BOTON_ACEPTAR' | translate}}</button>
</div>