<div bgcolor='#EEE' style='background-color:#eee;padding:30px;font-family:' lucida grande',helvetica,arial,verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'>
    <div style='width:640px;margin:auto;display:block'>
        <div style='padding:30px;background-color:#fff;border-radius:3px;border:1px solid #ccc'>
            <!--img src="cid:imagenAbax" border="0" /-->
            <br /><br /><br />
            <p style='font-family:' lucida grande',helvetica,arial,verdana,sans-serif;font-size:16px;line-height:1.5em;color:black;margin-top:100px'>Proceso de Distribuci&oacute;n Abax XBRL - CNBV</p>
            <p style='font-family:' lucida grande',helvetica,arial,verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'>Existen errores en el procesamiento de un documento de instancia XBRL.</p>
            <p style='font-family:' lucida grande',helvetica,arial,verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'><strong>Documento:</strong>&nbsp;&nbsp;&nbsp;  {0}</p>
            <p style='font-family:' lucida grande',helvetica,arial,verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'><strong>Empresa:</strong>&nbsp;&nbsp;&nbsp; {1}</p>

            <p style='font-family:' lucida grande',helvetica,arial,verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'>Saludos cordiales.</p>
            <p style='font-family:' lucida grande',helvetica,arial,verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'>Abax-XBRL</p>

            <div>
                <div class='yj6qo'></div><div class='adL'>
                </div>
            </div><div class='adL'>
            </div>
        </div><div class='adL'>
        </div>
    </div><div class='adL'>
    </div>
</div>