<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>

    <!--<add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xbrl2h.cloudapp.net\Sql2hAbax;initial catalog=abax_xbrl_db;persist security info=True;user id=sa;password=Sql1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=prod2hsoftware.cloudapp.net\SQLSERVER2H;initial catalog=abax_xbrl_db;persist security info=True;user id=abax_user;password=H52439PS8f0m25l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=prod2hsoftware.cloudapp.net\SQLSERVER2H;initial catalog=abax_xbrl_db_old;persist security info=True;user id=abax_user_old;password=H52439PS8f0m25l;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SR21VIBD01\SQLDESCS;initial catalog=StivXbrl;persist security info=True;user id=idstivxbrl;password=89wsa9e.34;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=prod2hsoftware.cloudapp.net\SQLSERVER2H;initial catalog=abax_cnbv_db;persist security info=True;user id=abax_integracion_xp_usr;password=2061M0wx2640wCT;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AbaxDbEntities" connectionString="metadata=res://*/Entities.AbaxModel.csdl|res://*/Entities.AbaxModel.ssdl|res://*/Entities.AbaxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qa2hsoftware.southcentralus.cloudapp.azure.com;initial catalog=abax_cnbv_db;persist security info=True;user id=abax_integracion_xp_usr;password=2061M0wx2640wCT;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TIBCO.EMS" publicKeyToken="5b83db8ff05c64ba" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.810.10" newVersion="1.0.810.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
