<section>
    <section class="vbox">
        <section class="scrollable padder">
            <section class="panel panel-default">
                <header class="panel-heading">
                    {{'TITULO_LISTADO_GRUPOS' | translate}}
                </header>
                <div class="row wrapper">
                    <div class="col-sm-3" ng-if="existenElementos">
                        <button type="button"
                               class="btn btn-sm btn-default"
                               ng-if="tieneFacultad(FacultadesEnum.ExportarDatosGrupos)"
                               ng-click="exportaAExcel()"
                               ng-hide="exportando" >
                            <i class="i i-file-excel"></i>
                            {{'ETIQUETA_EXPORTAR' | translate}}
                            </button>
                        <button type="button" class="btn btn-sm btn-default" ng-if="exportando" disabled>
                            <i class="fa fa-refresh fa-spin"></i>
                            {{'MENSAJE_INFO_EXPORTANDO' | translate}} ...
                        </button>
                    </div>
                    <div class="col-sm-3" ng-if="!existenElementos">
                        <button type="button"
                               class="btn btn-sm btn-default" disabled >
                            <i class="i i-file-excel"></i>
                            {{'ETIQUETA_EXPORTAR' | translate}}
                        </button>
                    </div>
                        <div class="col-sm-5 m-b-xs text-center">
                            <input type="text" name="search" ng-model="filtroBusqueda" placeholder="{{'PLACE_HOLDER_BUSCAR_GRUPO' | translate}}" class="input-sm form-control input-s-lg inline v-middle" />
                        </div>
                        <div class="col-sm-4 text-right ">
                            <button class="btn btn-sm btn-default" ng-if="tieneFacultad(FacultadesEnum.InsertarGrupos)" ng-click="registrarNuevo();">
                                <i class="i i-add-to-list"></i> {{'ETIQUETA_REGISTRAR_NUEVO_GRUPO' | translate}}
                            </button>
                        </div>
                    </div>
            </section>
            <section class="panel panel-default">
                <header class="panel-heading bg-light">
                    {{'ETIQUETA_DIVISIONES_REGISTRADAS_EN_CATALOGO' | translate}}
                </header>
                <div class="panel-body font-bold" style="background: #eeeeee; padding-left: 30px" ng-if="cargandoTabla">
                    <i class="fa fa-refresh fa-spin"></i>
                    {{'MENSAJE_INFO_CARGANDO_ROLES' | translate}} ...
                </div>
                <div class="panel-body font-bold" style="background: #eeeeee; padding-left: 30px" ng-if="!cargandoTabla && !existenElementos">
                    {{'MENSAJE_INFO_SIN_RESULTADOS' | translate}}
                </div>
                <div ng-if="!cargandoTabla && existenElementos">
                    <table class="table table-striped b-t b-light" id="tablaDivisiones" datatable="" dt-options="opcionesDataTableLocal">
                        <thead>
                            <tr>
                                <th width="300" class="th-sortable" data-toggle="class" style="text-align:center;width:15%;">
                                    {{'ETIQUETA_NOMBRE' | translate}}
                                </th>
                                <th class="th-sortable" data-toggle="class" style="width:45%;">
                                    {{'ETIQUETA_DESCRIPCION' | translate}}
                                </th>
                                <th width="20" class="th-sortable" data-toggle="class" style="text-align: center;width:10%;" ng-if="tieneFacultad(FacultadesEnum.AsignarRolesGrupos)">
                                    {{'ETIQUETA_ROLES' | translate}}
                                </th>
                                <th width="20" class="th-sortable" data-toggle="class" style="text-align: center;width:10%;" ng-if="tieneFacultad(FacultadesEnum.AsignarUsuariosGrupos)">
                                    {{'ETIQUETA_USUARIOS' | translate}}
                                </th>
                                <th width="20" class="th-sortable" data-toggle="class" style="text-align: center;width:10%;" ng-if="tieneFacultad(FacultadesEnum.EditarGrupos)">
                                    {{'ETIQUETA_EDITAR' | translate}}
                                </th>
                                <th width="20" class="th-sortable" data-toggle="class" style="text-align: center;width:10%;" ng-if="tieneFacultad(FacultadesEnum.EliminarGrupos)">
                                    {{'ETIQUETA_BORRAR' | translate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item  in listadoTabla">

                                <td style="text-align:center;">{{item.Nombre}}</td>
                                <td>{{item.Descripcion}}</td>
                                <td style="text-align:center;" ng-if="tieneFacultad(FacultadesEnum.AsignarRolesGrupos)">
                                    <a href="javascript:void(0);" ng-click="asignarRoles(item)" class="btn btn-rounded btn-sm btn-icon btn-default">
                                        <i class="i i-flow-tree"></i>
                                    </a>
                                </td>
                                <td style="text-align:center;" ng-if="tieneFacultad(FacultadesEnum.AsignarUsuariosGrupos)">
                                    <a href="javascript:void(0);" ng-click="asignarUsuarios(item)" class="btn btn-rounded btn-sm btn-icon btn-default">
                                        <i class="i i-flow-tree"></i>
                                    </a>
                                </td>
                                <td style="text-align: center;" ng-if="tieneFacultad(FacultadesEnum.EditarGrupos)">
                                    <a href="javascript:void(0);" ng-click="editar(item)" class="btn btn-rounded btn-sm btn-icon btn-default">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                                <td style="text-align:center;" ng-if="tieneFacultad(FacultadesEnum.EliminarGrupos)">

                                    <a href=" javascript:void(0)" ng-click="eliminar(item)" class="btn btn-rounded btn-sm btn-icon btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer ">
                    <div class="row">
                        <div class="col-sm-3" ng-if="existenElementos">
                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-if="tieneFacultad(FacultadesEnum.ExportarDatosGrupos)"
                                    ng-click="exportaAExcel()"
                                    ng-hide="exportando">
                                <i class="i i-file-excel"></i>
                                {{'ETIQUETA_EXPORTAR' | translate}}
                            </button>
                            <button type="button" class="btn btn-sm btn-default" ng-if="exportando" disabled>
                                <i class="fa fa-refresh fa-spin"></i>
                                {{'MENSAJE_INFO_EXPORTANDO' | translate}} ...
                            </button>
                        </div>
                        <div class="col-sm-3" ng-if="!existenElementos">
                            <button type="button"
                                    class="btn btn-sm btn-default" disabled>
                                <i class="i i-file-excel"></i>
                                {{'ETIQUETA_EXPORTAR' | translate}}
                            </button>
                        </div>
                    </div>
                </footer>
            </section>
        </section>
    </section>
</section>