<section>
    <section class="vbox">
        <section class="scrollable padder">
            <section class="row m-b-md">
                <div class="col-sm-6">
                    <h3 class="m-b-xs text-black" translate="TITULO_CATALOGO_DE_ROLES"></h3>
                </div>
            </section>
            <section class="panel panel-default">
                <header class="panel-heading font-bold" ng-if="editando" translate="TITULO_EDITAR_ROL"></header>
                <header class="panel-heading font-bold" ng-if="!editando" translate="TITULO_REGISTRAR_ROL"></header>
                <form name="rolForm" class="form-horizontal">
                    <div class="panel-body">

                        <div class="line line-dashed b-b line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="Nombre" translate="ETIQUETA_NOMBRE_ROL">:</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4" ng-class="{ 'has-error' : rolForm.Nombre.$invalid }">
                                        <input type="text" id="Nombre" name="Nombre" placeholder="{{'ETIQUETA_NOMBRE_ROL' | translate}}" class="form-control" ng-model="entidad.Nombre" ng-required="true" />
                                    </div>
                                    <p ng-show="rolForm.Nombre.$invalid" class="help-block" translate="ETIQUETA_CAMPO_REQUERIDO"></p>
                                </div>
                            </div>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="Descripcion" translate="ETIQUETA_DESCRIPCION">:</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4" ng-class="{ 'has-error' : rolForm.Descripcion.$invalid }">
                                        <input type="text" id="Descripcion" name="Descripcion" placeholder="{{'ETIQUETA_DESCRIPCION_ROL' | translate}}" class="form-control" ng-model="entidad.Descripcion" ng-required="true" />
                                    </div>
                                    <p ng-show="rolForm.Descripcion.$invalid" class="help-block" translate="ETIQUETA_CAMPO_REQUERIDO"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row wrapper">
                            <div class="col-sm-12 text-right">
                                <a href="javascript:void(0);" ui-sref="inicio.roles" class="btn btn-default">
                                    <i class="i i-back"></i> {{'ETIQUETA_BOTON_CANCELAR' | translate}}
                                </a>
                                <button type="button"  class="btn btn-primary" ng-click="guardar()" ng-hide="guardando" ng-disabled="rolForm.$invalid" >
                                     <i class="fa fa-save"></i> {{'ETIQUETA_BOTON_GUARDAR' | translate}}
                                </button>
                                <button type="button" disabled class="btn btn-primary "  ng-if="guardando">
                                    <i class="fa fa-refresh fa-spin"></i>
                                    {{'MENSAJE_INFO_GUARDANDO' | translate}} ...
                                </button>
                            </div>
                        </div>
                    </footer>
                </form>
            </section>
        </section>
    </section>
</section>