<div>
    <div class="doc-buttons">
        <a href="javascript:void(0);" ng-click="agregaParentesis();" class="btn btn-s-md btn-default">()</a>
        <a href="javascript:void(0);" ng-click="agregaSuma();" class="btn btn-s-md btn-default">+</a>
        <a href="javascript:void(0);" ng-click="agregaResta();" class="btn btn-s-md btn-default">-</a>
        <a href="javascript:void(0);" ng-click="agregaMultiplicacion();" class="btn btn-s-md btn-default">*</a>
        <a href="javascript:void(0);" ng-click="agregaDivision();" class="btn btn-s-md btn-default">/</a>
    </div>
    <div class="ecuacionEditor"></div>
</div>