<section>
    <section class="vbox">
        <section class="scrollable padder">
            <section class="row m-b-md">
                <div class="col-sm-6">
                    <h3 class="m-b-xs text-black">{{'TITULO_CATALOGO_DE_ROLES'| translate}}</h3>
                </div>
            </section>
            <section class="panel panel-default">
                <header class="panel-heading bg-light">
                    <!--<input type="text" placeholder="{{'ETIQUETA_BUSCAR_FACULTAD' | translate}}" ng-model="filtroFacultad"-->
                    {{'TITULO_ASIGNAR_FACULTADES'| translate}}
                </header>
                <div class="panel-body">
                    <div class="form-group">

                        <label class="col-sm-2 control-label font-bold" style="width: 150px;">{{'ETIQUETA_NOMBRE_DEL_ROL'| translate}}:</label>
                        <div class="col-sm-10">
                            <select class="input-sm form-control input-s-lg v-middle"
                                    ng-model="filtroChosenTop"
                                    style="display:none;"
                                    ng-change="obtenFacultadesRol()"
                                    ng-options="rolItem as rolItem.Nombre for rolItem in listadoRoles"
                                    chosen width="'300px'"></select>
                        </div>
                    </div>
                </div>
                <section class="row m-b-md">
                    <div class="col-sm-5">
                        <section class="panel panel-default" style="min-height: 400px; height: 400px; overflow-y: auto; overflow-x:hidden;">
                            <header class="panel-heading">
                                {{'TITULO_FACULTADES_ASIGNADAS'| translate}}
                            </header>

                            <div class="row wrapper">
                                <div class="col-sm-6">
                                    <select class="input-sm form-control"
                                            ng-model="filtroChosenLeft"
                                            ng-options="item as item.Nombre for item in listadoCategoriasFacultades"
                                            data-placeholder="{{'ETIQUETA_CATEGORIA' | translate}}"
                                            style="display:none;"
                                            chosen
                                            width="'200px'"
                                            allow-single-deselect="true">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text"
                                               placeholder="{{'PLACE_HOLDER_BUSCAR_FACULTAD'| translate}}"
                                               ng-model="filtroLeft"
                                               class="input-sm form-control"
                                               style="width:200px; max-width:100%;" />
                                    </div>
                                </div>
                            </div>
                            <div ng-if="cargandoFacultadesAsignadas" style="text-align:center;">
                                <i class="fa fa-refresh fa-spin"></i>
                                {{'MENSAJE_INFO_CARGANDO_FACULTADES'| translate}} ...
                            </div>
                            <table id="tableAsignado" class="table table-striped b-t b-light" ng-hide="cargandoFacultadesAsignadas">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;" width="20">
                                            <label class="checkbox m-n i-checks">
                                                <input type="checkbox" class="checkall" ng-model="checkAllLeft"><i></i>
                                            </label>
                                        </th>
                                        <th>{{'ETIQUETA_FACULTAD'| translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in listaFacultadesAsignadas | filter:filtroChosenLeft.IdCategoriaFacultad |  filter:filtroLeft | orderBy: 'Nombre' | abaxXBRLAsignarFilter:'asignadasVisibles'">
                                        <td style="text-align: center;">
                                            <label class="checkbox m-n i-checks">
                                                <input type="checkbox" ng-model="listaChecks[item.IdFacultad]"><i></i>
                                            </label>
                                        </td>
                                        <td class="nombre">{{item.Nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </section>
                    </div>
                    <div class="col-sm-2">
                        <div style="text-align: center;">
                            <a href="javascript:void(0);" ng-click="asignarTodos()" class="btn btn-rounded btn-sm btn-icon btn-default"><i class="fa fa-angle-double-left"></i></a>
                            <br />
                            <br />
                            <a href="javascript:void(0);" ng-click="quitarTodos()" class="btn btn-rounded btn-sm btn-icon btn-default"><i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <section class="panel panel-default" style="min-height: 400px; height: 400px; overflow-y: auto; overflow-x:hidden;">
                            <header class="panel-heading">
                                {{'TITULO_FACULTADES_NO_ASIGNADAS' | translate}}
                            </header>

                            <div class="row wrapper">
                                <div class="col-sm-6">

                                    <select class="input-sm form-control"
                                            ng-model="filtroChosenRight"
                                            ng-options="item as item.Nombre for item in listadoCategoriasFacultades"
                                            data-placeholder="{{'ETIQUETA_CATEGORIA' | translate}}"
                                            style="display:none;"
                                            chosen
                                            width="'200px'"
                                            allow-single-deselect="true">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text"
                                               placeholder="{{'PLACE_HOLDER_BUSCAR_FACULTAD'| translate}}"
                                               ng-model="filtroRight"
                                               class="input-sm form-control"
                                               style="width:200px; max-width:100%;" />
                                    </div>
                                </div>
                            </div>
                            <div ng-if="cargandoFacultadesAsignadas" style="text-align:center;">
                                <i class="fa fa-refresh fa-spin"></i>
                                {{'MENSAJE_INFO_CARGANDO_FACULTADES'| translate}} ...
                            </div>
                            <table id="tableDesasignado" class="table table-striped b-t b-light" ng-hide="cargandoFacultadesAsignadas">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;" width="20">
                                            <label class="checkbox m-n i-checks">
                                                <input type="checkbox" class="checkall" ng-model="checkAllRight"><i></i>
                                            </label>
                                        </th>
                                        <th>{{'ETIQUETA_FACULTAD'| translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in listaFacultadesNoAsignadas | filter:filtroChosenRight.IdCategoriaFacultad |  filter:filtroRight | orderBy: 'Nombre' | abaxXBRLAsignarFilter:'noAsignadasVisibles'">
                                        <td style="text-align: center;">
                                            <label class="checkbox m-n i-checks">
                                                <input type="checkbox" ng-model="listaChecks[item.IdFacultad]"><i></i>
                                            </label>
                                        </td>
                                        <td class="nombre">{{item.Nombre}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </section>
                <footer class="panel-footer ">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs"></div>
                        <div class="col-sm-4 text-center"></div>
                        <div class="col-sm-4 text-right text-center-xs">
                            <a href="javascript:void(0);" ui-sref="inicio.roles" class="btn btn-default">
                                <i class="i i-back"></i> {{'ETIQUETA_BOTON_CANCELAR' | translate}}
                            </a>
                            <button type="button" ng-click="guardar()" class="btn btn-primary " ng-hide="guardando" >
                                <i class="fa fa-save"></i> {{'ETIQUETA_BOTON_GUARDAR' | translate}}  
                            </button>
                            <button type="button" disabled class="btn btn-primary " ng-if="guardando">
                                <i class="fa fa-refresh fa-spin"></i>
                                {{'MENSAJE_INFO_GUARDANDO' | translate}} ...
                            </button>
                        </div>

                    </div>
                </footer>
            </section>
        </section>
    </section>
</section>
